[2014-01-23 12:34] oliverbytes opened #1 "New Registration with Captcha"
With the current LIB Version using SnapChat 6.0.2 with iPhone user agent, it returns a response saying we need to upgrade to the new snapchat version.

[2014-01-23 14:25] oliverbytes opened #2 "Sending up to more than 30 recipients"
I just tried in my SnapChat Android App to send a snap to all my 150+ contacts and it was only able to send up to 30 contacts. I tried twice and same result. It's odd snapchat doesn't even block the ability to send up to more than 30 contacts.

Update.. it sends to all. just don't add 30+ sent snaps in feeds.

[2014-01-26 08:32] oliverbytes opened #3 "Login Issue Since Jan 26, 2014"
Just a few minutes ago, when I try to login I only get a false. Anybody noticing the same issue now?

[2014-01-26 11:37] #2 closed, assigned to nobody

[2014-01-31 15:11] mattiz opened #4 "No data for video with text"
When downloading a video with text, no data is returned. The test was done on a iPhone 4.

[2014-02-02 19:10] dprogramming opened #5 "Sending seems to be stopped working..."
Does someone else has the problem that no snaps are sent?

[2014-02-02 21:25] #5 closed, assigned to nobody

[2014-02-03 05:38] oliverbytes opened #6 "All requests returns false. Anybody else?"
It's just 10 minutes ago this happened. never changed anything in my host.

Anybody else the same? I can connect using my localhost. I hope it's not my host they blocked. :( any suggestions please? or is somebody here hosting this lib that I can use please?

[2014-02-03 11:59] ringfox opened #7 "getMedia method fails. Anybody else?"
login succeed, bug getMedia() method fails. Anybody else?

[2014-02-04 07:13] #7 closed, assigned to nobody

[2014-02-17 08:56] mdfalcon104 opened #8 "Upload and send image is always failed"
Hi,

Thank for your project, it's useful for me and thank again.
I am using upload and send image from your project but the result is always failed. I don't know reason why ? Can you double check services ?

[2014-02-26 12:12] mattiz opened #9 "Fatal error when getting snaps"
Hi,

When i run the following code on my machine, I get an fatal error. It worked fine until two days ago.

$snapchat = new Snapchat( SNAP_USER, SNAP_PASS );
$snaps = $snapchat->getSnaps();

Fatal error: Call to a member function get() on a non-object in /www-root/lib/snapchat.php on line 234

Any help would be appreciated!

[2014-03-09 21:49] cskiwi opened #10 "Logging in"
Hi,

I've been working with this api and it's great, but for some reason I just can't login on my account anymore. The login code wasn't changed, it just didn't work anymore.

Is it possible that you arn't allowed on 2 computers to be logged in on the same time?

because that could be the problem.

when I do a login I get an 500 error

[2014-03-31 08:07] liamcottle opened #11 "Story Decryption"
I've noticed today that some stories aren't being decrypted properly, or something...

When a story blob has been fetched successfully and then been decrypted, it outputs data that looks "still encrypted", and that data doesn't seem to resemble any file type at all. Not a jpg, mp4 or gif/png etc.

Has anyone else noticed this lately? or...

[2014-03-31 21:30] jghazally opened #12 "Does this comply with SnapChat Terms and Conditions"
Hi, first off, amazing work reverse engineering this. I was looking at utilising this library for a project, then looked at the Snap Chat Terms of use and got confused, Has anyone used this library for large send outs of snaps? Or is this just an exercise in reverse engineering APIs?
I'm just concerned if I do use this commercially the account could be blacklisted. That would suck..

[2014-04-03 05:32] abartow opened #13 "The Endpoints Appear to Have Changed."
I encountered an issue using this API, and I traced it down to the API using the  'https://feelinsonice-hrd.appspot.com/bq' endpoint in file src/snapchat_agent.php on line 24. After changing my code to use the https://feelinsonice.appspot.com/ph endpoint, all is well.

[2014-04-06 10:44] MJ1994 opened #14 "friends array only the names"
Hi there,

when I do an output with print_r of the $friends array, I receive details of name, can_see_custom_stories and type.

How can I make the output with only the name?

[2014-04-06 13:41] pede661 opened #15 "Cron login fail"
The script works fine but when i let the cron run overnight it ends op saying:
"get auth_token failed"
I think this is caused because it keeps relogin every time instead of saving the auth_token to a file for reuse.

[2014-04-15 09:21] ghost opened #16 "Token saved in session: check token and reconnect only if necessary (invalid token)."
Hello,

I save the object "$snapchat" in session with this method: http://www.php.net/manual/en/oop4.serialization.php
This avoids having to redo a connection (with a new token) on Snapchat servers at each change of page.

But if I connect to Snapchat with mobile application, it makes a new connection and changes the token. So, the old token saved in PHP session (on my website) is no longer valid.

[2014-04-21 21:22] Hip0 opened #17 "Caption with media"
Hello,
I actually use this API for SnapChat. It works perfectly, so thank to the creator and contributor but how we do for add a text with a media (video or image) ?

It will can be very useful to have a caption !

So, if someone can help me, thank a lot !

[2014-04-24 12:45] #17 closed, assigned to nobody

[2014-04-26 21:29] hmate9 opened #18 "Call to a member function get() on a non-object in snapchat.php on line 234"
Issue solved

[2014-05-01 13:25] MartinMeijer1980 opened #19 "SnapChat API "register""
Hello i am trying to add a new snapchat user through the API

I have made my self a form with:
- Username
- Password
- Birthdate
- Email

I'm sending the form and requesting the next code
$SC = new Snapchat;
getHtml::getTagP($SC->register($_POST['gebruiker'], $_POST['wachtwoord'], $_POST['email'], $_POST['geboortedatum']));

I have puted random in that function an echo with text and found out that

[2014-05-02 09:02] dprogramming opened #20 "Big update"
It seems Snapchat has released a big update with a lot of new features, like messaging and video chat - http://mashable.com/2014/05/01/hands-on-with-the-new-snapchat/?utm_cid=mash-com-Tw-main-link

[2014-05-19 09:48] #11 closed, assigned to nobody

[2014-05-27 22:57] rogierkn opened #21 "New API"
Any plans on making the library use the "new" API endpoints and formats? Using the old ones increases the speed of getting your server blocked by Snapchat, something I endure continiously.
I have tried it myself but have yet to find a good way to use their new format they send in responses.

[2014-05-29 14:10] in00b opened #22 "Sending snaps returns BAD REQUEST"
SOLVED.

[2014-05-29 16:36] #22 closed, assigned to nobody

[2014-06-02 09:14] entozoon opened #23 "Send a text message"
Is it possible for the api to be updated to include sending a text based message on snapchat? - i.e. the text messages that are possible with the new version of the app

[2014-06-11 14:05] Cra7y opened #24 "What does getSnaps() return"
I found that it returns a array but it seams to be empty even though i already send a snap to the account present

[2014-06-11 19:48] #24 closed, assigned to nobody

[2014-07-08 16:09] JorgenPhi opened #26 "New app has defensive measures."
Hey everybody. I figured now would be a good time to start looking back at the new snapchat protocol and quickly learned that snapchat [REDACTED]. This makes it much more difficult to proxy the ssl requests. I also tried to change all instances of https:// with http:// using apktool, but the app launches the splash screen, but then crashes. Makes me wonder if the app's signature[REDACTED] or if I

[2014-07-08 20:01] #26 closed, assigned to nobody

[2014-07-09 11:00] hako opened #27 "Chat messages traffic encrypted."
Having looked into the app, it looks like Snapchat's new chat feature is encrypted (or at least the traffic) to an extent that HTTP Debugging tools Fiddler and Charles cannot capture requests, even with SSL debugging on.

I'm guessing that the chat system is using TCP instead of HTTP to transfer messages.

I've tried Wireshark and TCPDump but no luck.

**I can:**
Get the chat messages

**I cannot:

[2014-07-10 12:33] K0rell opened #28 "How to get media Id for download a picture or video ?"
Hello, how to get the media id to retrieve a video or picture?
The documentation is not very clear about this, in the example ('122FAST2FURIOUS334r), the media id used comes from where?

// Download a specific snap:
$data = $snapchat->getMedia('122FAST2FURIOUS334r');
file_put_contents('/home/jorgen/snap.jpg', $data);

I get my good flow yet is there some media id empty :/

Thank you for your help

[2014-07-10 18:33] martynball opened #29 "A notice and fatal error when fetching feed"
I have successfully imported the snapchat.php file using require_once, seems to logged in successfully as it's returning an object.

But when I try and fetch my feed i'm getting the following errors:
Notice: Undefined property: Snapchat::$cache in C:\xampp\htdocs\snapchat\src\snapchat.php on line 234

Fatal error: Call to a member function get() on a non-object in C:\xampp\htdocs\snapchat\src\snap

[2014-07-11 01:06] JorgenPhi opened #30 "Research:"
Hey everybody! I was making great progress analyzing the new API, but my IP address was recently blocked so I figured now would be a good time to fill you all in.

(This was taken from version 5.0.2 on android && is likely missing endpoints. Snapchat refused my SSL certificate for about 25% of the connections.)

/loq is the new major endpoint. It contains:
/login  - (nearly identical to /bq/login)

[2014-07-11 17:44] spartanz51 opened #31 "Can't upload / send snap"
The upload and send of snaps failed: i receive nothing :/ Can you help me please? (Sorry for my english)

[2014-07-11 18:13] #12 closed, assigned to nobody

[2014-07-11 19:00] #3 closed, assigned to nobody

[2014-07-12 08:09] martynball opened #32 "Keeping user logged in throughout multiple pages?"
This isn't really an issue with the API, but how would one go about keeping the use logged in throughout multiple pages? It creates an object when you login which is needed to fetch snaps, but if I pass that on using a session variable it messes the object up.

And I can't convert it to a array as the other functions like getSnaps() need it in object form! There are also sub-objects which mess up.

[2014-07-13 10:31] Grandnainconnu opened #33 "Some questions"
Hello !
First of all, sorry for bad language, i'm french.

I have make a site with your API, It works perfectly.
But i have some questions.

If i would put my website online, can I have problems with Snapchat?
And the API is safe? Will work always? Because i don't want to remake my website...

And if you want i can post some files i have made for use this API.

Good bye,
Jean.

[2014-07-16 03:21] #32 closed, assigned to nobody

[2014-07-17 09:33] martynball opened #34 "Detecting if users has logged into Snapchat app"
I have noticed that if you log into the Snapchat app, then try and use the username and auth_token with this API you can no longer get any snapchats as the app just made a new auth_token.

What would be the best way to detect that this has happened?
If I do a check to see if any Snaps have been retrieved to see if the API auth_token is still valid I could get false results as there simply could be

[2014-07-18 22:28] excodex opened #35 "I fixed the upload-sending snap issue"
Hello,
I changed this line:

to this:

in **snapchat.php**

And the snap sending is working.
You can find the _gen_uuid_ function [here](http://stackoverflow.com/questions/2040240/php-function-to-generate-v4-uuid).

[2014-07-20 10:18] gabrielsoldani opened #36 "Error checking for Snapchat::$cache in getUpdates and getFriendStories"
Snapchat::$cache can be null or not defined in getUpdates and getFriendStories, when login fails or after a logout.

Code to reproduce:

[code]

outputs

[code]

[2014-07-21 13:22] Grandnainconnu opened #38 "Registration version"
Hi, i have one problem.

When i want to register me, this error as returned :
  public 'message' => string 'Please upgrade Snapchat to the latest version to create an account.' (length=67)

I have set const version to 7.0.4 and curl user adgent to 7.0.4 too, please help me...

[2014-07-23 02:05] eberth opened #39 "Download video with overlay"
When I try to download a snap that contains a video and a drawing/text, only the drawing/text layer is downloaded as a video... how can I download both with one request?

[2014-07-28 14:43] Grandnainconnu opened #40 "Stories media_type"
Hi,
I have see recently stories have a problem, after a look, stories meda_type return :
In first, an int (0, 1 or 2), if i refresh, media_type is picture or video, and if i frefresh again, media_type is null.

What is the problem?

[2014-07-28 15:04] #40 closed, assigned to nobody

[2014-07-31 10:44] higauravbhai opened #41 "not able to download imagw"
I was trying to download image using getMedia function but it always return false to me even though I pass correct media ID using getSnaps. When I call getSnaps then it returns me something like following.

object(stdClass)#31 (11) {
  ["id"]=>
  string(19) "275650406800983071s"
  ["media_id"]=>
  string(59) "HIGAURAVBHAI~893749F7-3E18-46B5-9B13-7B660DEEB458TEJMEHTA86"
  ["media_type"]=>
  int(0)

[2014-08-01 09:56] #41 closed, assigned to nobody

[2014-08-07 20:31] ghost opened #42 "Is this script still working?"
I've been trying this script but am having trouble with the Login.  I am passing my username and password (I verified they are working on the device) but the login keeps failing.

This is my PHP test page :

<?php

include ("snapchat.php") ;
echo "TEST" ;

// Log in:
$snapchat = new Snapchat('myjefxxxxx', 'ccccccx');

echo "1" ;

// Get your feed:
$snaps = $snapchat->getSnaps();
echo "2" ;
?>

Any

[2014-08-15 00:06] jghazally opened #43 "Is there a max limit on getAddedFriends?"
I can't seem to get more than 49 rows from getAddedFriends.
When I know I have more than 49 friends..

[2014-09-08 17:39] selimonline opened #45 "Specific story's thumbnail"
Dear,

The code for specific story's thumbnail ......
$data = $snapchat->getStoryThumb('[story_media_id]', '[story_key]', '[thumbnail_iv]');
For a common story,  [story_key] is absent. I have used here media_key instead of story_key. Is this right?
But still I am not getting any results for thumbnail. It returns like this
87Áäÿa)ßkä„ÙEËe»eØm"Œ%JÁþó§|gÅëðâaÛd×ªv„_Ó{óPN»i =‡ýä³X¯PŽ*ä23¾Sræ

[2014-10-22 08:17] janjakob opened #47 "media_id from snaps, can't find it."
Hello :)
I want to download snap to my computer but I can't find the media id :)
I have done a var_dump to see the array:
$snaps = $snapchat->getSnaps();
var_dump($snaps);

and the array look like this:
 0 =>
    object(stdClass)[83]
      public 'id' => string '255300413927923884r' (length=19)
      public 'media_id' => boolean false
      public 'media_type' => int 0
     .......
but I can't se

[2014-10-22 10:18] #47 closed, assigned to nobody

[2014-10-23 13:15] norkodeo opened #48 "Issues uploading photos"
Hello, it was working just perfect all the time, but yesterday after snapchat updates(I got some on my phones too) it stopped uploading photos. I not changed anything on my code so I think they changed something inside and now this feature not working...
Can you check and update this? Thank you!

[2014-10-23 23:13] Chris-Pr opened #49 "video upload limitations"
Does anyone know the limitations  or prerequisites for the video upload for story board?

is there a resolution / codec / file size limitations?

[2014-10-24 10:20] janjakob opened #50 "Media_type = 3??? what does that stand for"
Hey :)
i have made a small local snapchat site where I can see  my snaps on my computer.
And I know that media_type 0 is pictures and 1 is video.
but what does Media_type 3 stand for?

[2014-10-26 20:02] #50 closed, assigned to nobody

[2014-10-27 10:01] brajzore opened #51 "Download my own snaps"
Hi,

How can I download the photos and the videos that is taken by my self? I don't want to download my friends snaps, I just want to download the pictures and the videos that I take.

Best regards
Bryan

[2014-11-04 09:12] NSURLSession0 opened #52 "Removed"

[2014-11-04 13:05] #52 closed, assigned to nobody

[2014-11-14 04:58] Snowlav opened #53 "Is there a way yet to send text messages/snaps to a user?"
I was wondering if there's a way to send texts / messages / chat to a user.
What I want to do is build two forms and a button.
One for username of recipient and one for the message, and a "send" button.

Thanks in advance! Uploading stories is going great so far!

[2014-11-30 02:47] nmock opened #55 "Stories Decryption"
I'm having issues with the stories decryption (snaps are still okay), have Snapchat's encryption methods changed or are other people experience the same issue? Any ideas as to what they're doing now?

[2014-12-04 19:04] shiznewski opened #56 "Can't get this to work."
i'm trying to login, add friend and send snap image (jpg).

I will pay someone $25 to help me do this. I have spend many hours and i can't get it to work

[2014-12-07 18:29] shiznewski opened #58 "findFriends by phone number."
Everytime i try findFriends by phone number and dump the variable it has nothing. Even when testing with phone numbers i know work.

Anyone have any success with this?

[2014-12-16 17:59] Snowlav opened #59 "New endpoints /loq/ etc. Who here is still working on them?"
Hey, I was wondering if someone is still researching / reverse engineering the new API.
I was told it also uses a new key.

I want to help, in any and every way possible :)

[2014-12-21 02:20] Snowlav opened #61 "snapchat beta and account locking due to 3rd part apps."
Is anyone here looking into snapchat beta? I applied this morning but somehow the "opt-in" for the beta does not work on my end, I guess my IP is flagged or something.

So I was wondering if anyone here has had the privelege to look into the beta code.

Especially if there's something that will fix the current issue I have which is getting locked due to 3rd part apps.
if someone has a non beta rel

[2014-12-21 07:58] KyleBoyer commented on #30
Just removed my lg.php dependency(it's just used to analytical log data), and the generateMediaID works for me, but something else is causing the upload function to fail. If you want to test it on my server, email me at kyleboyerplus <at> gmail <dot> com

Sent from my iPhone 5S

[2014-12-22 05:16] ghost opened #62 "Heads up regarding iconv"
In php.ini, it states that iconv is depreceated.

Just thought i'd give you a heads up.

[2014-12-25 07:35] Dgameman1 opened #63 "Can't get snap to send!"
<?php

    require_once('src/snapchat.php');

    // Log in:
    $snapchat = new Snapchat('XXX', 'XXX');

    // Upload a snap and send it to me for 8 seconds:
    $id = $snapchat->upload(
    Snapchat::MEDIA_IMAGE,
    file_get_contents('/images/arielol.jpg')
    );
    $snapchat->send($id, array('allenbgd'), 4);

    // Log out:
    $snapchat->logout();

    ?>

For whatever reason, nothing is b

[2014-12-26 20:03] Qfc9 opened #65 "Fatal Errors on using getSnaps();"
So my program was running perfectly fine until about 3 days ago when suddenly these errors showed up. I did not change my code at all and I have re uploaded the original snapchat.php files to make sure I didn't mess those ones up. Do you have any ideas on what my problem is?

Fatal error: Call to a member function get() on a non-object in /homepages/15/d419114431/htdocs/bobink/snapchat/src/snapcha

[2014-12-30 18:42] KyleBoyer opened #68 "Upload function returns false..."
I have tried using multiple different accounts, different PHP hosts(to eliminate issues with my IP), and even very basic code, however it never is able to upload an image...

[2015-01-01 10:50] Voiceeeeee opened #69 "Some videos load when saved, some don't?"
Hello, I just started working on this library a few hours ago, decided to give it a shot for fun, and it's functioning perfectly, just one thing I noticed, I'm retrieving video snaps as MP4, when saving them and trying to open them, some work and some don't, the ones that aren't working did work at some case (removed the video and saved it again and it stopped working, although some I removed and

[2015-01-01 19:22] Voiceeeeee commented on #69
Oh, it seems like it's not passing the isMedia check.

[2015-01-01 20:52] cuonic commented on #69
If it isn't passing the first isMedia check then it should means it's zipped with an overlay. I am working on tuning the isMedia script to return the actual type of media, I'll keep you updated.

[2015-01-02 05:38] Spurlex opened #70 "Receiving and sending "chat" messages"
Hi,

I am wondering if anyone has any information on the receiving and sending of chat.

Would be great if people could post what they have found in regards to this.

[2015-01-02 07:05] Voiceeeeee commented on #69
It doesn't have an overlay, I checked with an app on Android and it's just a normal 8 seconds video, it also worked a few times with some tries then stopped working, then worked again.

[2015-01-02 07:25] Dgameman1 commented on #63
So what do you suggest I do? Just wait till it gets fixed?
@cuonic

[2015-01-02 10:00] cuonic commented on #63
You could try participating in the development of a solution, I've gave
you the request and response parameters of the new upload system, you
just need to change a few things in the PHP class.

On 02/01/2015 08:25, Dgameman1 wrote:

[2015-01-02 10:30] cuonic commented on #70
Hi,

I'm documenting the new API, I should be adding more of the conversation functions today. Feel free to join in here : https://github.com/JorgenPhi/php-snapchat/wiki/API-v2-Research

[2015-01-02 10:31] cuonic commented on #68
The current upload function is broken, I just tested my own code that had previously worked, we need to upgrade to the latest endpoint to get it working.

[2015-01-02 10:49] Spurlex commented on #70
@cuonic Have you worked out how to decrypt + encrypt the chat messages to send them at all?

[2015-01-02 10:52] cuonic commented on #70
No, you need to decompile the APK and take some time out browsing the
source code to work this out, afterwards it will be trivial.

On 02/01/2015 11:49, Michael wrote:

[2015-01-02 13:05] Voiceeeeee opened #71 "getSnaps"

[2015-01-02 13:24] cuonic commented on #71
It's the same for the client, only the latest 30 snaps are displayed, the rest "dissapear".

[2015-01-02 13:47] Voiceeeeee commented on #71
Is there a workaround for this?

[2015-01-02 13:55] cuonic commented on #71
No it's the server that automatically prunes the list. You could workaround it locally by saving the snaps to a database everytime you get all updates, the database would contain all the snaps since using the new system.

[2015-01-02 14:00] Voiceeeeee commented on #71
So basically it'll be API->database->user? What about the snaps already gone?

[2015-01-02 14:08] cuonic commented on #71
Exactly that. Well you can't know about any snaps sent more than 30 snaps ago. If someone creates their account using this system then all of their snaps will be in the system, if someone logs in after having previously used snapchat outside of this system for more than 30 snaps then you will not be able to obtain the full list of snaps received / sent by that user.

[2015-01-02 14:12] Voiceeeeee commented on #71
Hmm, okay, that sucks but you gotta do what you gotta do, gonna stop working on this right now.

Another question, I don't feel like starting another issue, so, is it possible to retrieve the info of a  specific snap via it's ID?

Thanks.

[2015-01-02 14:20] cuonic commented on #71
I don't think so, the only info you can get is from /updates

[2015-01-02 14:25] Voiceeeeee commented on #71
But getSnaps loops through the updates, wouldn't it be possible to loop it around one ID and retrieve the other data? It's worth a try IMO.

[2015-01-02 14:36] cuonic commented on #71
I don't understand what you're trying to do here.

[2015-01-02 14:49] Voiceeeeee commented on #71
Let's say I want to retrieve the media_type of a specific snap that I have it's ID, is that possible?

[2015-01-02 15:20] cuonic commented on #71
Only if the snap is for you and if it is in the last 30 snaps, you just have to parse getSnaps data until you find the id.

[2015-01-02 15:42] KyleBoyer commented on #63
I just adjusted my code and tried those parameters with that endpoint, and I still get back a 401 Unauthorized response.

[2015-01-02 17:00] Voiceeeeee commented on #71
Are you sure it has to be in last 30? Afterall getMedia doesn't need to be in past 30 so I'm not sure why this would, I'm talking about writing a new function named getSnap.

Question, can I open a snap using the Snapchat app after I receive 30 other snaps?

[2015-01-02 20:53] cuonic commented on #71
I haven't tried but I would think it is possible.

On 02/01/2015 18:00, Voiceeeeee wrote:

[2015-01-03 02:17] cuonic commented on #68
I've got the upload and send function to work on the new endpoint, here is my testing code : http://files.lab.cuonic.com/NWI2MzJ

[2015-01-03 02:18] cuonic commented on #63
Got it working with a few modifications, here is my testing code : http://files.lab.cuonic.com/NWI2MzJ

[2015-01-03 07:53] Dgameman1 commented on #63
@cuonic  Page not found :O

[2015-01-03 10:18] cuonic commented on #63
@Dgameman1 Page not found for the download, when uploading a snap, when sending the snap ?

[2015-01-03 10:19] Dgameman1 commented on #63
@cuonic http://files.lab.cuonic.com/NWI2MzJ says 404 Not Found

[2015-01-03 10:23] cuonic commented on #63
@Dgameman1 Sorry about that, seems to work for other people though. Try this : http://dev.cuonic.com/SnapUpload.zip

[2015-01-03 10:26] Dgameman1 commented on #63
Hmm that's really strange. Still 404
http://i.imgur.com/jkBRQAn.png
Let me try going through proxy

[2015-01-03 10:30] Dgameman1 commented on #63
And it worked ... @cuonic Very weird.
Thank you though! Let me try this out!

[2015-01-03 10:33] cuonic commented on #63
@Dgameman1 Check your DNS servers they don't see very... up to date :) In upload.php you just need to add your Snapchat username and password for it to work.

[2015-01-03 10:51] Dgameman1 commented on #63
@cuonic  http://i.imgur.com/txR6m7H.png :( I promise I'm not retarded

[2015-01-03 10:58] cuonic commented on #63
I've got exactly the same code and it's working good. If you're getting "Error encountered" then it's good news, it means that the upload was successful, so it's just the "sending" of the snap that screws up.

Use the following code to debug the sending :

[code]

[2015-01-03 11:01] Dgameman1 commented on #63
Um, now when I Just go to the page, i get this error
http://i.imgur.com/HTMmo9n.png @cuonic

[2015-01-03 11:03] cuonic commented on #63
Well that's good because now we know the problem. Either the file you are trying to send is not valid "media", try starting off by sending a small JPEG image, don't try videos / large images just yet. If not the the media type is invalid, try replacing `Snapchat::MEDIA_IMAGE` with `0` in upload.php

[2015-01-03 11:04] Dgameman1 commented on #63
@cuonic I didn't actually fill out the form anything. I just went to the page and it gave me that error =O

[2015-01-03 11:06] cuonic commented on #63
Oh ok it's detecting a POST request by fetching the page... Oh dear. Replace Line 3 `if($_POST)` with `if(isset($_POST['username']))` and don't refresh the page after posting, just call it from the address bar.

[2015-01-03 11:09] Dgameman1 commented on #63
I changed the code and the same thing happens when i go to the page without posting lol
http://i.imgur.com/fG5VcD4.png
What if I make an ajax request and put the PHP into a different page?

[2015-01-03 11:13] cuonic commented on #63
Damn, Ajax won't work for the file upload. How about changing line 3 to `if($_SERVER['REQUEST_METHOD'] == "POST")`

[2015-01-03 11:17] Dgameman1 commented on #63
@cuonic same error =/
Is it working with you?

[2015-01-03 11:18] cuonic commented on #63
The original code works for me as well as all the modifications.

[2015-01-03 11:18] cuonic commented on #63
What browser are you using ? What web server ?

[2015-01-03 11:19] Dgameman1 commented on #63
@cuonic I'm using google chrome and it's currently hosted up online

[2015-01-03 11:21] cuonic commented on #63
Try running it locally with a WAMP / LAMP server

[2015-01-03 11:24] Dgameman1 commented on #63
Okay cool! So, this time nothing happened and the page loaded fine. I fill everything out and I get this
http://i.imgur.com/kleluAa.png
but I didn't log out of snapchat nor did it send anything

[2015-01-03 11:32] cuonic commented on #63
This is not working very well at all for you. Are you sure you are using the provided snapchat.php and snapchat_agent.php ? Try using the following file as `snapchat.php` : https://gist.github.com/cuonic/bb106e1ce978ebf71c6e

[2015-01-03 11:37] Dgameman1 commented on #63
@cuonic This does not make any sense. I legit used the file you sent me to download but apparently the snapchat.php you just sent me to use on github is different. so I used that and now the error i get is this..

http://i.imgur.com/JfODLye.png

[2015-01-03 11:39] cuonic commented on #63
Good, well something is screwing up with the login. Use the following as `snapchat_agent.php` : https://gist.github.com/cuonic/449a34af812fefc72522

[2015-01-03 11:45] Dgameman1 commented on #63
Still get the same No Authentication Details =/

Just want to say thank you so much btw

[2015-01-03 11:46] Dgameman1 commented on #63
But the thing is, it still logs me out :o

[2015-01-03 11:48] cuonic commented on #63
Ok try adding the following  :
[code]
just after `$login = $snapchat->login("username", "password");`

[2015-01-03 11:54] Dgameman1 commented on #63
http://i.imgur.com/FenPOEv.png

[2015-01-03 12:05] cuonic commented on #63
There's the problem :) Try doing a Google search for that one

[2015-01-03 12:13] Dgameman1 commented on #63
@cuonic So I'm assuming the script doesn't see ca_bundle.crt
` curl_setopt($ch, CURLOPT_CAINFO, 'ca_bundle.crt');`

but ca_bundle.crt is with every other file?
![image](https://cloud.githubusercontent.com/assets/10294777/5602384/d7d2ab32-92fe-11e4-950e-76175e617b2d.png)

[2015-01-03 12:36] cuonic commented on #63
@Dgameman1 : Curl requires an absolute path for the certificate file apparently, so you need to change line 318 of `snapchat_agent.php` with the full path : `curl_setopt($ch, CURLOPT_CAINFO, '/full/path/to/file/ca_bundle.crt');`

[2015-01-03 12:40] cuonic commented on #63
Try the following line actually : `curl_setopt($ch, CURLOPT_CAINFO, dirname(__FILE__) . '/ca_bundle.crt');`

[2015-01-03 14:25] bouge commented on #58
## The endpoint appears to have changed:
The [current endpoint] (https://feelinsonice-hrd.appspot.com/bq/find_friend) which is what is being hit in PHP-SNAPCHAT returns 404, rather than what one might expect which is a bad request, like [this one](https://feelinsonice-hrd.appspot.com/bq/friend). As such, for this to work again, the new endpoint must be found.

[2015-01-03 14:44] cuonic commented on #58
Tada : https://github.com/JorgenPhi/php-snapchat/wiki/API-v2-Research#phfind_friends

[2015-01-04 04:57] Dgameman1 commented on #63
@cuonic http://i.imgur.com/AtMMrBB.png

[2015-01-04 10:08] cuonic commented on #63
@Dgameman1 Ok well that's a good start, login was successful via the new endpoint. You can remove the `var_dump($login);` stuff now. Is that the upload endpoint displaying the `UNSUPPORTED MEDIA TYPE` error ? Are you definitely uploading a JPEG image, relatively small ?

[2015-01-04 10:46] Snowlav opened #72 "accounts getting locked due to 3rd party usage."
Hey everyone,

Strangely enough I still face this issue, even with the new endpoints, headers and parameters.
Anyone here that can shed some light on why and how snapchat detects this?
How to prevent it?

I figured a temporary fix would be to save auth token and keep logging in with that, because it seems to happen after like X amount of times that you login using 3rd party code.

[2015-01-04 10:59] cuonic commented on #72
Well now we know it's not with the headers then all you have to do is look at what the real application does and what our current "third party apps" don't do. The actual application sends off a device token for Google messaging every now and then, but most importantly it sends off statistics to Snapchat, maybe they are basing themselves off the fact that our third party apps don't communicate as m

[2015-01-04 11:29] Spurlex commented on #70
It would be great if we could have any input from any previous findings that people have found out.

@cuonic @hako

[2015-01-04 12:09] cuonic commented on #70
@Spurlex I don't think anyone else is researching this as the chat system is relatively new. I've had a quick look at the encryption method, it uses the "SlightSecurePreferences" class.

[2015-01-04 13:34] Snowlav commented on #72
Thanks for your comment!
The new endpoint's I'm using are.
/loq/login
/bq/friend

[2015-01-04 14:38] cuonic commented on #72
Ok try sending a request just after login to (https://github.com/JorgenPhi/php-snapchat/wiki/API-v2-Research#phdevice)[/ph/device] with a random `device_token` (Here's an example one : `APA91bGtT3_CXpBk_q3qBGt8hutXkgQmA1S7RMtNpXz9pBU4Sjl4koU6p5B_caUmuA-7-L5YGfzFoAZfiPKlI_9eNm2gq9wstmw7kF99wlw4PKhEmreaOaCQZlXBmjaZmnATb0-QzJ42HfrB90mspi3ZmiQTHtOCwQ`)

Taking a look at the internal analytics system (

[2015-01-04 19:40] KyleBoyer commented on #63
@cuonic Using this new endpoint, I've been able to send people images, just not post them to the story now... Is there a new endpoint for posting stories?

[2015-01-04 21:28] cuonic commented on #63
@KyleBoyer : Watching the Android application's network traffic when posting a story it doesn't seem to use `/ph/upload` - it skips that step and does an "all-in-one" request with [/bq/retry_post_story](https://github.com/JorgenPhi/php-snapchat/wiki/API-v2-Research#bqretry_post_story)

[2015-01-05 01:10] Dgameman1 commented on #63
@cuonic You are god's gift to man kind. Thank you so much. But now how do you suggest we fix the post while refreshing when it's hosted up online?

[2015-01-05 05:38] cuonic commented on #63
@Dgameman1 Glad you got everything working, happy to help :)

[2015-01-05 06:50] #63 closed

[2015-01-05 06:51] Dgameman1 opened #73 "Is there a way to create an account via this API?"

[2015-01-05 06:55] hako commented on #73
There is, I've opened a pull request to #57 this requires the captcha to be passed though not the phone number verification. [Here is an example](https://gist.github.com/hako/adb2ab9419eda2dca62b)

[2015-01-05 07:05] Dgameman1 commented on #73
@hako Sorry but I'm super retarded. So at the moment, it's not complete, correct? Cause I used the code you gave and a few errors came up.

[2015-01-05 07:37] hako commented on #73
What were the errors came up? also my fork does not have the header fix yet and it still needs some refactoring. If you apply the fix, the registration still works.

1. `git clone https://github.com/hako/php-snapchat` and switch to the snaptcha branch
 + `git checkout snaptcha`
2. apply the header fix to `snapchat_agent.php` or download the patch [here](https://gist.github.com/hako/f2d31e61266dcc1

[2015-01-05 14:52] KyleBoyer commented on #63
@cuonic @Dgameman1 How do you log in using an auth_token on the new API? I tried this:
[code]

[2015-01-05 15:02] KyleBoyer opened #74 "getSnaps() Using the new API?"
Hey everyone! I'm struggling to get my snaps using the new API... When I login I get a converstations_response which it might be inside, however when I get loq/all_updates I get back this:

[code]

I know this account has unopened snaps also because I sent some to it.

[2015-01-05 16:50] cuonic commented on #74
@KyleBoyer : You should get something similar to this back : https://github.com/JorgenPhi/php-snapchat/wiki/API-v2-Research#loqall_updates

All snap media is now part of a conversation, so everything should be inside `conversation_messages`.

[2015-01-05 16:52] cuonic commented on #73
@hako : After how many new accounts do you start getting the snaptcha on registration ? Is the snaptcha only required on registration or can they make it required for login aswell ?

[2015-01-05 18:27] KyleBoyer commented on #74
@cuonic Perfect! I got that working but now, however downloading snaps has now become the problem... When I use the basic getMedia function and use the snap ID provided I get a 404 page response.

[2015-01-05 19:13] hako commented on #73
The snaptcha is only required on registration. I don't know if there is an exact limit of accounts you can create yet.

[2015-01-05 19:14] Snowlav commented on #73
As of this moment there is no limit for registration of accounts per IP / Device ID

[2015-01-05 19:15] Snowlav commented on #73
Does anyone know if the snaptcha images are generated on the spot, or are they pre-designed and loaded from a database of some sort?

[2015-01-05 22:39] cuonic commented on #73
Thanks to @hako and his image of Snaptcha we can see the following :
![Snaptcha](https://www.hakobaito.co.uk/content/snapp2.png)

Here's another from Techcrunch :
![Snaptcha 2](http://tctechcrunch2011.files.wordpress.com/2014/01/snaptcha.png?w=611)

These are not computer generated (take a look at the positioning, the fact that the ghost is behind an umbrella, positioned correctly at the end of a

[2015-01-05 22:57] Snowlav commented on #73
I don't know if it's relevant but the current images snapchat uses for their captcha are different.

They seem pc generated to me and are even manually hard to solve at times haha.

[2015-01-05 22:59] cuonic commented on #73
@Snowlav : Oh sorry then, I haven't had one recently :P Ok, well now we need to make a ghost detection script. Should be simple enough though seeing that the ghost is always the same sprite, it's just rotated, enlarged / reduced, a bit of PHP code should be able to handle this right ?

[2015-01-05 23:40] cuonic commented on #73
I have forced a captcha upon myself for research reasons, and indeed these are very computer generated.

![Snaptcha 1](https://i.imgur.com/7dH74BT.png)
![Snaptcha 2](https://i.imgur.com/5FA5n99.png)

Here are some screenshots of 19 different captchas (because there seems to be no rate limiting on captchas, you can fail continuosly and Snapchat will keep on feeding you with a new load of captcha im

[2015-01-06 00:12] cuonic commented on #74
@KyleBoyer : I have only seen the application using /bq/update_snaps for the moment.

[2015-01-06 07:57] Snowlav commented on #73
In a lot of pics the ghost is the only white things, is it possible to look for a certain area size of a white color-range?

[2015-01-06 11:10] cuonic commented on #73
@Snowlav The problem is there is also a duck, other white objects, and the size varies, the shape of the ghost isn't consistent, it can be deformed.

[2015-01-06 11:23] Snowlav commented on #73
Hmm yes that's correct.. How long would it take if you gave snapchat a random string, and kept feeding it until it corresponds to the answer.
Since there is no rate limit on failing.

[2015-01-06 11:25] cuonic commented on #73
Good question, the problem is that the string gives 512 different possibilities, but the answer changes every time, so it could take ages.

[2015-01-06 11:31] Snowlav commented on #73
is there a way of "checking" your input before snapchat actually "processes" it?
For example, check the server response of a string, but snapchat does nothing with the server response.
Might sound retarded haha, just wondering.

[2015-01-06 11:39] cuonic commented on #73
Well no otherwise it would mean that they have a gigantic security vulnerability being able to try all the possibilities before actually posting off. :ghost:

[2015-01-06 11:43] Snowlav commented on #73
sounds like snapchat to me :laughing:

[2015-01-06 11:44] cuonic commented on #73
They're getting better ;)

[2015-01-06 11:45] Snowlav commented on #73
Unfortunately ! haha, they are throwing up challenges for us now.
Do you see any possibility in defeating the snaptcha ?

[2015-01-06 11:46] cuonic commented on #73
Get loads of them and find a way of mass analyzing the images where
there is a ghost to find something that will enable an algorithm to
detect the ghost images

On 06/01/2015 12:45, Snowlav wrote:

[2015-01-06 11:47] Snowlav commented on #73
sounds like a fun project, I guess I could try to code something to just scrape those packages of pics.

[2015-01-06 11:48] cuonic commented on #73
Scrape a load of captcha image zips, manually comb out the Ghost images, then analyze. Simple :P

[2015-01-06 11:51] Snowlav commented on #73
do you have skype / g hangouts ?

[2015-01-06 11:52] cuonic commented on #73
XMPP : cuonic [@] rows [.] io

On 06/01/2015 12:51, Snowlav wrote:

[2015-01-06 11:59] Snowlav commented on #73
XMPP .. never used that, what client would you recommend for windows?

[2015-01-06 12:00] cuonic commented on #73
Pidgin : https://pidgin.im/download/

On 06/01/2015 12:59, Snowlav wrote:

[2015-01-06 12:06] zangon opened #75 "Snaps do not send / Does not add friend"
This is my code:

<?php

require_once("./src/snapchat.php");

if(isset($_POST["username"]) &&
   isset($_POST["password"]) &&
   isset($_POST["victim"]) &&
   isset($_POST["amount"]))
   {

  $username = strip_tags($_POST["username"]);
  $password = strip_tags($_POST["password"]);
  $victim = strip_tags($_POST["victim"]);
  $amount = strip_tags($_POST["amount"]);

  if($amount < 1 || $amount > 100

[2015-01-06 12:07] cuonic commented on #75
The API library is currently broken, people are working on it, you can too.

On 06/01/2015 13:06, zangon wrote:

[2015-01-06 12:08] zangon commented on #75
Oh, all right. How can I help by working on it? :)

[2015-01-06 12:13] Snowlav commented on #73
I'm snowlav [@] rows [.] io
When I talk it says "no permission" under your name

[2015-01-06 14:42] KyleBoyer commented on #74
1. Sounds good, I'll be using that then! Do you know what the MD5 conversations_checksum is for all_updates to only receive the conversations list?
2. Does getMedia(for downloading a snap's data) use /ph/blob still? It currently works, however I want it to be as authentic looking as possible to avoid being locked/banned/blocked.
3. What data is posted where when you attempt to delete only one conv

[2015-01-07 01:46] KyleBoyer opened #76 "Another API URL?"
https://cash-dot-feelinsonice-hrd.appspot.com
https://only-captcha-dot-feelinsonice-hrd.appspot.com
https://phone-and-captcha-dot-feelinsonice-hrd.appspot.com
https://neither-phone-nor-captcha-dot-feelinsonice-hrd.appspot.com
These are another URL I found while decompiling 8.1.2 snapchat apk... Any info on these?

[2015-01-07 06:57] cuonic commented on #76
Haven't seen it yet in 8.1.1 Beta's APK, what file is it in ?

On 07/01/2015 02:46, KyleBoyer wrote:

[2015-01-07 09:53] Snowlav commented on #76
My guess looking at the first URL is that this has to do with snapcash?
The other ones.. either a rate limit and we are getting captchas or idk.

[2015-01-07 12:30] Snowlav opened #77 "Sending snaps only possible with phone verified account?"
I just noticed that my account without phone verification could not send snaps to anyone (not even one person at the time)
After verifying I had no trouble sending to 100 people at once.

So maybe this is why some people are having troubles with sending snaps?

[2015-01-09 00:57] Dgameman1 opened #78 ""The network you are connected to has been temporarily blocked because of suspicious activity""
So my code has been working great for a while now but then I was all of a sudden bombarded with this error message.
Any idea on how to fix?
Is there a way to use proxies?

[2015-01-09 02:07] ahmed-usman opened #79 "API returning error"
My account is not locked and my password and everything is correct. It's still returning this error:

PHP Notice:  Undefined property: Snapchat::$cache in /home/username/Desktop/NHSO/src/snapchat.php on line 234

PHP Fatal error:  Call to a member function get() on a non-object in /home/username/Desktop/NHSO/src/snapchat.php on line 234

[2015-01-09 04:00] hisham-albeik commented on #79
The account might not be locked but the IP address you're connecting from might be blocked. Sometimes you an get blocked and not get the "ip address you connected from" error message. Also, if you haven't used it in a while you might be missing the header update that is either waiting for a pull request or recently merged. I think if you look at the github project and look in the pull requests you

[2015-01-10 04:43] Dgameman1 commented on #78
Any ideas. I'm a bit confused because I still have the error even though it says temporarily

[2015-01-10 10:15] Dgameman1 commented on #79
I'm also getting an error made an issue #78
I'll try and figure something out and get back to you on it.

[2015-01-10 10:50] LinoSuarez commented on #79
Just use this <a href="https://github.com/JorgenPhi/php-snapchat/pull/80">#80</a>

[2015-01-10 12:13] zangon opened #81 "$friends = $snapchat->getFriends();"
$friends = $snapchat->getFriends();

^^ How can I turn the information provided into a string? Or even, get the "name" property of the objects returned and put it to a string, is it possible?

[2015-01-10 12:33] #81 closed

[2015-01-10 12:44] #51 closed

[2015-01-10 12:48] hako commented on #79
@Dgameman1 please try @LinoSuarez's fix and could you tell us if it works for you or not?

[2015-01-10 13:43] imlordeyaya commented on #79
did it and it still does not work.

[2015-01-10 15:59] ThePengwin commented on #79
@LinoSuarez : thanks, that has fixed things up for me for now.

Just a note though: I set up and watched the latest snapchat on android and instead of posting to /bq/login/ it is now posting to /loq/login. Im guessing in the future this may cause issues with logging in.

[2015-01-11 01:46] NickAtSchool commented on #78
Perhaps try using a new account from a different IP address. It sounds like you may have been [ip] banned, just based on the error message - but I can't say for sure

[2015-01-11 08:46] Dgameman1 commented on #79
@hako @LinoSuarez Tried it and it still didn't work.
Is there any way to use a proxy with this?

[2015-01-11 09:08] hako commented on #79
@Dgameman1 what's your current setup? How are you running the php-snapchat library?

[2015-01-11 09:31] Dgameman1 commented on #79
@hako On my website. I believe the website's IP is banned now =/

[2015-01-11 09:43] #48 closed

[2015-01-11 11:35] LinoSuarez commented on #79
It's possible to use proxy -> stream_context_set_default(['http'=>['proxy'=>'proxy-host:proxy-port']]);

[2015-01-11 14:42] ahmed-usman commented on #79
I found a fix. I used a different Device thing. I'm not sure I got it from somewhere else. My account wasn't blocked, Snapchat just wasn't letting me log in the same way I used to.

[2015-01-11 14:42] #79 closed

[2015-01-11 17:19] Snowlav opened #82 "Possibly found the reason why networks are getting blocked."
I've been researching the blog of snapchat for a bit and I noticed that recently they have updated some guidelines.

Here's one of them:
Device Information: We collect information about your device, including the hardware model, operating system and version, unique device identifiers (including MAC address and IMEI), browser type and language, mobile device phone number, and mobile network informa

[2015-01-11 19:32] Scape373 opened #83 "Fail to login."
No matter what it wont log in.... Im trying to get it to login and send a snap, but cant even get it to log in first.

Where am i supposed to find my auth token also?

just keep getting this:

We logged in the old fashioned way! :(
Could not log into snapchat!

<?php
require_once("./src/snapchat.php");

//Set your own login info here.
$username = 'my username';
$password = 'passwordy stuffs';

$sn

[2015-01-11 20:39] Snowlav opened #84 ".key file to go along with the crt?"
My android will only install .p12 files.
Since I only have a ca_bundle.crt I need a .key file to convert it into a .p12

Thanks in advance.

[2015-01-12 00:10] Dgameman1 commented on #82
I'd be more than happy to help test this out but I'm not super skilled in the technical department.
Would you like me to test this out by changing around
CURLOPT_USERAGENT => 'Snapchat/8.0.1.3 (Nexus 5; Android 21; gzip)',
?

[2015-01-12 00:25] Dgameman1 commented on #79
@LinoSuarez Do you know where I would add this information?

[2015-01-12 02:18] Dubz commented on #83
I'm getting the same issue here as well. My iPad seems to work fine, I can login and see snaps/stories with no issue.

[2015-01-12 03:53] Dubz commented on #84
You do know that this isn't meant to be installed on your phone or anything right? The src files dont need to be modified/installed, you just need PHP installed on a computer and knowledge of coding to make it work. This isn't a program to do it for you, its a resource that has part of that program done for you.

[2015-01-12 03:55] JorgenPhi commented on #84
The CA_bundle is a package for the library to verify that a ssl cert is
valid. It shouldn't need to be installed on your phone. If you want to do
research, you use a proxy and install that ssl cert on your phone. See
Charles Proxy or Fiddler for more info on that.

Also, nice dubs.
On Jan 11, 2015 9:53 PM, "Dubz" <notifications@github.com> wrote:

[2015-01-12 04:04] Snowlav commented on #84
yeah I done goofed, currently documenting the 42 endpoints I have found :)

[2015-01-12 04:04] #84 closed

[2015-01-12 10:58] realmuster commented on #83
Hello together, I just had to register to GitHub, wasn't using it until today. But I am currently using the php-snapchat Library for my own small client. I have the same issue described her for about two or three days. Not possible to login into Snapchat anymore. I will try to investigate for the problem, but if anyone has found the problem yet, please let me know.

[2015-01-12 13:01] anchorit3 commented on #82
Previously I runed the API on VPS server - Worked one month and the IP address has been blocked,
and then runed the API on localhost, worked a few days and again the IP has been blocked.
I updated the CURL data

[code]

and

[code]

and again blocked.
Now I do not know what to do to fix it.
Maybe this problem is because I don't use authToken to again login but with this is next problem because Aut

[2015-01-12 14:26] Snowlav commented on #82
If the network was already blocked, then ofcourse changing the headers and useragent would not help, you have to wait until the block is lifted and keep randomizing it in the hope it won't get blocked again.

It's not something we check, it's something server side checks.

[2015-01-12 15:46] Snowlav commented on #83
@realmuster looks like snapchat blocked the network you are trying to connect from.

[2015-01-12 16:09] JorgenPhi commented on #82
Wouldn't randomizing the device each request be more suspicious than
keeping the same device between requests? We need to make it so the library
as a whole doesn't utilize the same device headers.

If the network was already blocked, then ofcourse changing the headers and
useragent would not help, you have to wait until the block is lifted and
keep randomizing it in the hope it won't get blocked a

[2015-01-12 16:18] Snowlav commented on #82
I should have explained myself better, I am looking from a standpoint where multiple people are using the app/code from the same network / ip.

You are right, when it's only you using it, try a different header than the one in the libary.
But keep them the same in between requests.

Focusing on apps that multiple people use, I think the server side of snapchat detects a X amount of users logging i

[2015-01-12 17:12] #77 closed

[2015-01-13 00:17] Snowlav opened #85 "I think I know how to send text messages, is there anyone that can test with me?"
I have the endpoints needed, sequence, requests and responses.
If anyone wants to test this with me, let me know :)

[2015-01-13 00:27] hako commented on #85
@Snowlav I'll be happy to test this.

[2015-01-13 00:31] Snowlav commented on #85
ok I have you email, I will send the info to you right now :)

[2015-01-13 00:48] Snowlav commented on #85
Email is send to you @hako please let me know when you receive it.
I forgot to save some info on the auth_token which I am getting back now and sending to you.

[2015-01-13 04:06] Dgameman1 commented on #82
@Snowlav I understand what you're saying. But is there a way to use a proxy with this so that I can bypass the block? Because it's been 4 days now.

[2015-01-13 04:24] JorgenPhi commented on #82
Yeah find a proxy and pass it along with the cURL requests.
On Jan 12, 2015 10:06 PM, "Dgameman1" <notifications@github.com> wrote:

[2015-01-13 04:29] Dgameman1 commented on #82
public static $CURL_OPTIONS = array(
		CURLOPT_CONNECTTIMEOUT => 5,
		CURLOPT_RETURNTRANSFER => TRUE,
		CURLOPT_TIMEOUT => 10,
		CURLOPT_FOLLOWLOCATION => true,
		CURLOPT_USERAGENT => 'Snapchat/8.1.1 Beta (Nexus 4; Android 17; gzip)',
	);

So I would add
`CURLOPT_PROXY => PROXY:PORT,`right?

[2015-01-13 11:51] anchorit3 commented on #82
We can try add to library list User Agents from Android devices (10 or more) and iOS and when somebody trying sign in we can randomizing useragent for this username and save for example in sqlite.

But this problem isn't my because I only use 2 accounts for accepting invite to friends, receive snaps and send Snap with authentication code to manage content on website. In my position i think problem

[2015-01-13 12:50] Maraumax commented on #85
I would also be interested to try!

[2015-01-13 16:20] Snowlav commented on #82
@anchorit3 good thinking about the user agent, but what about they IMEI and MAC address they gather?

[2015-01-13 17:50] anchorit3 commented on #82
@Snowlav I think Snapchat does not have access to IMEI and MAC device from received data but it's possible that I'm wrong.

[2015-01-13 18:03] cuonic commented on #82
Snapchat doesn't send the device MAC or IMEI at any point, from what I have seen from looking through all the requests.

[2015-01-13 18:10] Snowlav commented on #82
Hmm I guess I got thrown off by their statement saying they did.

It made sense given the fact I always face this problem once more than 3 accounts are active on the platform / doing the same thing.

[2015-01-14 04:26] Dubz commented on #83
@Snowlav I've tested this on multiple networks/accounts and I get blocked out too for no reason. I can also login to my account from my iPad with no issues so the account and network aren't the issue.

[2015-01-14 04:40] Snowlav commented on #83
@Dubz what is the error you are getting?
If you accounts aren't locked and your network is not blocked, it must be the code.

[2015-01-14 04:51] Dubz commented on #83
@Snowlav That's what I'm saying. I don't know what it's saying, it just fails. I haven't added any debug code of any type to the code to print anything out.

I did an export of the snapchat object after logging in and it has the username and auth_token both false.

[2015-01-14 05:07] Dgameman1 commented on #82
@anchorit3 Thank you. But now the issue is I get an error saying...
array(3) {
  ["error"]=>
  int(1)
  ["message"]=>
  string(22) "API Connection failed."
  ["result"]=>
  string(44) "Connection timed out after 5005 milliseconds"
}

and I even went ahead and changed the timeout `CURLOPT_TIMEOUT => 200,`

[2015-01-14 08:32] realmuster commented on #83
Hey together. I found my problem. It was not the problem that the IP was blocked. It was the Problem that my account was blocked. I had to visit the url snapchat.com/locked to unlock my account. And if you visit this url you can read a text about using third-party applications.

I think someone needs to investigate the actual data that is sending to snapchat. We need to know what snapchat gets to

[2015-01-14 08:45] Dubz commented on #83
Tried the above just now, nothing. I'm still being blocked form the script only.

[2015-01-14 14:33] anchorit3 commented on #82
@Dgameman1 I add `CURLOPT_PROXYTYPE ` and checked this on my localhost and this worked
[code]
I use one proxy server from this list:
http://proxylist.hidemyass.com/

[2015-01-14 18:29] Snowlav commented on #83
This is strange, you sure it's a 400 bad request and not a 401?
are you running your script from a local IP or from a webhost?
@Dubz

[2015-01-14 18:35] Snowlav commented on #85
@Maraumax thanks for your interest, there is further testing needed on tcp level.
Will update once I find out more :)

[2015-01-15 00:16] Dubz commented on #83
Logging in...
'<html><head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<title>400 BAD_REQUEST</title>
</head>
<body text=#000000 bgcolor=#ffffff>
<h1>Error: BAD_REQUEST</h1>
</body></html>
'
failed!

Straight from the post function. I added the following code between lines 316 and 317 in snapchat_agent.php:
var_export($result);

The "Logging in..." and "failed!" are from th

[2015-01-15 01:12] Snowlav commented on #83
@Dubz refer to my previous question, are you running this from local server (with the same IP as your ipad etc) or from a remote server / webhost? (with an other IP)

If it's the latter, then this all makes sense, the IP your webhost is using is banned.
Try a proxy.

[2015-01-15 08:23] Voiceeeeee commented on #83
Same thing here, unable to login to ANY accounts, while I can using my iPod, I'm locally hosted.

[2015-01-15 10:34] Dgameman1 commented on #78
I used a proxy but now I get the error

array(3) {
  ["error"]=>
  int(1)
  ["message"]=>
  string(22) "API Connection failed."
  ["result"]=>
  string(73) "Failed connect to feelinsonice-hrd.appspot.com:3128; Connection timed out"
}

[2015-01-15 10:44] cuonic commented on #78
@Dgameman1 It looks like you are trying to connect to the API URL via port 3128, which will not work.

[2015-01-15 10:52] LinoSuarez commented on #82
"If you believe you received the notification in error, it may be because you are using an old version of Snapchat. Please make sure you have the most recent version of the app downloaded.

If you have stopped using third-party applications, changed your password already, and updated to the most recent version of Snapchat, there is no need to contact us. However, if you are still having trouble wi

[2015-01-15 19:15] Dgameman1 commented on #78
@cuonic
[code]
This is the code I added into it. I'm willing to pay you money to help fix me fix this at this point.

[2015-01-15 19:25] JorgenPhi commented on #78
I wouldn't spend money on this, but I'm willing to help you out over Skype
in two hours if you would like.
On Jan 15, 2015 1:15 PM, "Dgameman1" <notifications@github.com> wrote:

[2015-01-15 19:28] Dgameman1 commented on #78
@JorgenPhi That sounds amazing. My skype name is Dgameman1

[2015-01-17 06:29] Dubz commented on #83
Thanks for the tip @Voiceeeeee, that seemed to work for me. Guess these have to stay up to date.

[2015-01-17 19:03] JorgenPhi commented on #78
For those who want an interesting approach of bypassing this restriction, try proxying this library through a popular anonymizing network. Works like a charm.

[2015-01-17 19:03] #78 closed

[2015-01-17 20:02] cuonic commented on #78
@JorgenPhi That's great as a short term solution but eventually all the exit nodes will get blocked by the API, or Snapchat will notice a load of Tor traffic coming to their API, which will result in them banning every connection from a Tor exit node.

[2015-01-17 20:18] JorgenPhi commented on #78
Yes, it's a short term solution to a bigger problem, but how can we make it
not as "suspicious" ? Who says the official app doesn't make some call over
a proprietary protocol (the chat protocol for instance) or something
similar that we aren't mimicking?
On Jan 17, 2015 2:02 PM, "Liam Jack" <notifications@github.com> wrote:

[2015-01-17 21:01] #85 closed

[2015-01-17 21:08] cuonic commented on #78
I have a web app in development using a modified version of the class sending out randomized User Agents (8.1.1 / 8.1.1 Beta / 8.1.2 - Nexus 4 / Nexus 7 / HTC One / Motorola X) and after login I make a request to `/ph/device` sending a random device token. Then just make sure you don't log in for every request to the API by keeping the `auth_token` and `username` as cookies in the user's browser,

[2015-01-20 03:33] gurinderhans commented on #39
Any luck with this? Someone?

[2015-01-20 09:40] j0rd commented on #83
#80 worked for me.

[2015-01-20 09:42] Dubz commented on #83
I just got an email from snapchat warning me not to use third party applications. I run this script on localhost so there must still be something in the code that tips them off, or they've been checking this repo now. Seems like this needs some more randomization of some type.

[2015-01-20 09:54] Voiceeeeee commented on #83
My account got locked for "repeatedly using third-part applications", I'm also on localhost, not sure why this is happening.

[2015-01-20 10:07] Dubz commented on #83
@Voiceeeeee I did that, it didn't fix my initial problem, probably because it wasn't locked at all. Issue #80 did fix it, but it seems like it's not going to last long.

[2015-01-20 10:13] Voiceeeeee commented on #83
Yea, there probably is something other than #80, but I have no idea what it is, everything seems to be right.

[2015-01-21 02:39] Snowlav commented on #83
http://puu.sh/eO5nV/6b4e58fb0d.png
"If you believe you received the notification in error, it may be because you are using an old version of Snapchat. Please make sure you have the most recent version of the app downloaded."

Makes me believe it's a combination of the right headers and endpoints.
Since the newer version of snapchat uses new endpoints and the current php lib does not.

Using a head

[2015-01-22 12:07] chandu4ugandhi commented on #78
@JorgenPhi I have sent you the request over the skype for resolve this same bug. I am facing "The network you are connected to has been temporarily blocked because of suspicious activity" bug.

[2015-01-26 10:59] mgp25 opened #86 "Register question"
Hi there, im trying out this API, and im currently using @hako one.

I have done these steps already:

- git clone https://github.com/hako/php-snapchat and switch to the snaptcha branch
   - git checkout snaptcha
- apply the header fix to `snapchat_agent.php` or download the patch here
- download the example
- change the `$email` and `$username` to whatever you want to register.
- run `php [exampl

[2015-01-26 21:14] KyleBoyer commented on #85
@Snowlav Can you get ahold of me at Xtremeness [@t] live.com for snapchat text messages?

[2015-01-26 22:42] hako commented on #86
I'm going to test this and get back to you, it should be working but this might need an a rewrite since it uses both old and new endpoints in order to enable register functionality.

[2015-01-26 23:06] mgp25 commented on #86
@hako thanks! i'll start reverse engineering SnapChat this week, hope i can help improving this API. Let me know if i was doing something wrong.

Regards

[2015-01-28 18:16] KyleBoyer opened #87 "SnapTag_Download Image Key?"
The new update(from January 27, 2015) has introduced Snaptags. Doing some research online(only found one thing about it) and some decompiling, I've found the following:
/bq/snaptag_download (POST)
Request Data:
  {"image": "qr-add/6ba8bcc94beab846813625522c7e3d2f",
  "req_token": "3a897d9eed9139d547384e3be5f89cd4ccf040fb7b11ad9aa9950ea3404a483a",
  "timestamp": 1422412632422,
  "username": "neuegr

[2015-01-28 18:42] #87 closed

[2015-01-28 19:38] Snowlav commented on #87
what exactly is this function what does it do?

[2015-01-28 19:51] KyleBoyer commented on #87
In the new snapchat update, user's have a 'snaptag', but rather it is simply a snapchat logo with a qr_code built in. An example here: https://pbs.twimg.com/media/B8Y_xlOIMAEHIs8.jpg

I was just finding how to retrieve it.

[2015-01-28 20:15] KyleBoyer opened #88 "Send Chat Text Messages?"
Has anyone figured out how mac/payload are generated and how we can go about sending a textual message?

[2015-01-29 23:57] gbrosenthal opened #89 "New Version"
In snapchat_agent the version needs to be changed to '9.0.1'

Additionally, has anyone been able to post stories since the update?

[2015-01-29 23:59] Snowlav commented on #89
I'm on the 9.0.2.1 beta and a lot has changed, though posting stories shouldn't give any issues.
how are you uploading stories?

[2015-01-30 00:01] gbrosenthal commented on #89
$snapchat = new Snapchat('uname', 'password');
$id = $snapchat->upload(
     Snapchat::MEDIA_IMAGE,
     file_get_contents('/path/to/image.png')
);
$snapchat->send($id, array('uname'));

[2015-01-30 00:09] liamcottle commented on #89
If you are using the 9.0+ user agent, you need to make sure you have
implemented the new Login parameters.

Check out my working 9.0.2.0 login request here:

http://github.com/liamcottle/snaplib
On 30/01/2015 1:07 pm, "gbrosenthal" <notifications@github.com> wrote:

[2015-01-30 00:13] gbrosenthal commented on #89
Logging in isnt the issue. Im able to get users etc... so i know im authenticated

[2015-01-30 00:14] cuonic commented on #89
Make sure you send all the following data correctly. This hasn't changed at all compared to 8.1.1

# /bq/retry_post_story

#### Description
Used to post a story

#### Request
* `my_story` - (Boolean)
* `time` - Time to display the snap (Float)
* `group_ids`- (Array)
* `media_id` - `[USERNAME]~[RANDOM UUID]` (String)
* `story_timestamp` - (Timestamp)
* `zipped` - `0` or `1` (Int)
* `caption_text_di

[2015-01-30 00:30] gbrosenthal commented on #89
Sorry, just realized that my example was sending to single users. But i havent been able to do that either haha.

[2015-01-30 00:37] gbrosenthal commented on #89
But it also looks like a lot of those variables are not set by this library. Ie not in 'function setStory' in the snapchat class, nor 'function post' in the snapchat_agent one

[2015-01-30 00:41] cuonic commented on #89
The library is not exactly up to date, if you want it to work you need to know what the actual application sends to the API, and then you have to add / remove parameters to each request in the library.

Here is some API documentation : https://github.com/JorgenPhi/php-snapchat/wiki/API-v2-Research

[2015-01-30 00:47] Snowlav commented on #89
I'm getting real tired of snapchat and their api updates, I'll tell you that much

[2015-01-30 16:59] cuonic commented on #89
Well the API updates are a good thing, it brings new features to the application for us to use and abuse. We just need to keep up with constantly analyzing the application's API calls.

[2015-01-30 18:09] Snowlav commented on #89
The latter is hard though, I do not mind it actually, but snapchat is not only adding user features but I have the feeling they are also making it harder for us to abuse every update.

[2015-01-30 18:36] Scape373 commented on #89
Any fix for this yet?
I can login and update snaps and save snaps, but cannot upload or set a story
This literally worked yesterday with no change. I tried updating my user agent to 9.0.2, and 9.0.1 and still doesnt work.. What am i missing?

$final1 = "http://-snip-watermark.php?filename=$value";
$id = $snapchat->upload(
Snapchat::MEDIA_IMAGE,
file_get_contents($final1));
$snapchat->setStory($id,

[2015-01-30 19:53] gbrosenthal commented on #89
I've been able to upload (get a 200 Response), but I havent been able to send single snaps or set my story. If anyone has been able to get this library working in the last couple days, please share.

[2015-01-30 20:12] Snowlav commented on #89
Are you uploading a JPG image ?
What responses do you get?

Can you elaborate "I can login and update snaps and save snaps, but cannot upload or set a story. It just uploads a blank gray thumbnail and disappears when i try to click on it"
Do you mean on the application?

[2015-01-30 20:14] Snowlav commented on #89
Remember this lib is outdated guys, if you are mixing new headers with old endpoints, or old endpoints with new endpoints etc, it will not work.
Which endpoint are you guys using to login and which are you using to set story.

In the new versions of snapchat you no longer need to use upload and send but simply post to story.

We need more information than that is given right now.

[2015-01-30 20:51] JorgenPhi commented on #89
Speaking of outdated, if anyone wants access to accept pull changes and
write to the repo directly, let me know. I don't have the time to keep this
relevant.
On Jan 30, 2015 2:14 PM, "Snowlav" <notifications@github.com> wrote:

[2015-01-30 22:05] Scape373 commented on #89
So what you are saying is my code should look more like this now?:

It's still not working.. :(

Gets contents of folder
uploads the images in the folder

$directory = 'saved';
$scanned = array_diff(scandir($directory), array('..', '.'));
   foreach($scanned as $value){
      //Watermark
      $snapchat->setStory($value,5);
      var_dump($value);
   }

$value comes out as a string:
string '6.jpg'

[2015-01-31 12:49] mgp25 commented on #89
Hey guys i have updated the login function and adding the new features https://github.com/mgp25/Snap-API.

Most of the features and improvements comming soon.

Regards

[2015-01-31 17:31] cuonic commented on #89
Logging in with 9.0.2.0's API is pratically impossible for the Android version. They have started checking device tokens, so you need to fetch a valid device token before logging in, and there is a new "Authorization" header containing a Google OAuth2 token....

[2015-01-31 17:49] Snowlav commented on #89
@cuonic isn't the google oath2 token optional, and by device token do you mean a device ID ?
These can be generated pretty easy right ?

[2015-01-31 17:54] cuonic commented on #89
It's no longer option, if you don't provide the "ptoken" on login you
get "401 UNAUTHORIZED", if you create one randomly you get "Oh no! Your
login temporarily failed, so please try again later. If your login
continues to fail, please visit
https://support.snapchat.com/a/failed-login :)"

The message doesn't change when adding or removing the Authorization header

On 31/01/2015 18:49, Snowlav wrot

[2015-01-31 17:56] Snowlav commented on #89
hmm so we would need to fetch valid info first using fiddlr or something alike, and once logged in store auth token, that is if we are using the 9.0.2.0 api.
Is this correct, or not possible?

[2015-01-31 18:02] cuonic commented on #89
Yeah, but that's not really a solution, you shouldn't have to run the
official application along side just to get tokens, we need to emulate this.

On 31/01/2015 18:56, Snowlav wrote:

[2015-01-31 18:02] Snowlav commented on #89
I like this challenge

[2015-01-31 18:04] Snowlav commented on #89
But I question if it's feasible

[2015-01-31 18:05] Snowlav commented on #89
is it possible to bring out an api for a previous no longer supported by snapchat version, without getting our accounts banned?

[2015-01-31 18:06] cuonic commented on #89
Well using 8.1.1's API for the moment will probably work for a while,
but then they will kill it.

On 31/01/2015 19:05, Snowlav wrote:

[2015-01-31 18:07] Snowlav commented on #89
Any other options? Long term solutions?

[2015-01-31 18:10] hako commented on #89
I've seen the OAuth thing before it became mandatory in the beta, AFAIK it looks like signing up does not have to use OAuth though. And the `ptoken` is new to me.

@Snowlav We can only look inside the APK I guess, unless there are other solutions.

[2015-01-31 18:13] Snowlav commented on #89
@hako inside the APK you mean modding the apk or reverse engineering it in the hopes of finding a solution?

[2015-01-31 22:04] liamcottle commented on #89
`ptoken` is the Google Cloud Messaging Registration ID, it's the same value that you post to `/ph/device` in the `device_token` param. It's used by the snapchat server to send notifications to your device via GCM.

As for logging in, I have noticed they have made the header `Authorization` mandatory. Also, it must be a valid one...

If you pass a blank value in the `Authorization` header, you'll g

[2015-01-31 22:06] cuonic commented on #89
I'm working on generating the device token signature  for login at the
moment, it's pretty simple. The Authorization header is an OAuth2 token
from Google based on Snapchat's client secret

On 31/01/2015 23:04, Liam Cottle wrote:

[2015-01-31 22:36] liamcottle commented on #89
Ok,

So did a bit of digging, and because the OAuth token is tied to the users Google Account, what I did was remove my local Google Accounts, and then perform a snapchat login.

I noticed that in the `Authorization` header that if you don't have a Google Account connected, the official Snapchat app sends `Bearer ng` as the `Authorization` header...

Doing this still returns a 401 if you pass in a

[2015-01-31 22:42] Snowlav commented on #89
can Google GCM IDs be generated in bulk ?

Thanks for all the research to both you and cuonic btw :)

[2015-01-31 22:44] cuonic commented on #89
Ideally we need to be able to generate both the GCM and Google OAuth
token outside of Android, I've got all the POST parameters for these
requests, I'll take a look

On 31/01/2015 23:36, Liam Cottle wrote:

[2015-01-31 22:44] liamcottle commented on #89
A Google GCM ID is specific to the device and application that it is requested for, the device itself has to request it from the Google Server.

I've just factory reset one of my S5 test devices so I can check GCM registration requests without any old data being sent.

Might be able to create some "virtual" device IDs, that work...

See what I can do...

[2015-01-31 22:49] ddaddy commented on #89
Just listening from the outskirts.
Have you considered how it must be different for iOS? They don't have GCM so completely different id's and from what I know, the apple messaging id's can't be confirmed.

[2015-01-31 22:54] liamcottle commented on #89
I thought about this a little while ago, I'll just setup an iOS device with proxy stuff, and see what I get.

[2015-01-31 23:10] liamcottle commented on #89
Using the iPad user Agent

Snapchat on iOS sends `X-Snapchat-Client-Token` which is different on each login request.

Headers:
![screen shot 2015-02-01 at 12 07 19 pm](https://cloud.githubusercontent.com/assets/3173581/5990212/0b5c3c34-aa0b-11e4-8b53-d848cd89fc43.png)

Params:
![screen shot 2015-02-01 at 12 07 48 pm](https://cloud.githubusercontent.com/assets/3173581/5990213/0b6227e8-aa0b-11e4-8a4

[2015-01-31 23:13] mgp25 commented on #89
@liamcottle its possible but its harder to reverse it, its better to reverse android apk, im uploading tomorrow a patched apk for you guys, it will print everything in logcat and it will help us in next releases :)

Regards

[2015-01-31 23:39] Snowlav commented on #89
Together we can do this :D

[2015-01-31 23:40] liamcottle commented on #89
100%

[2015-02-01 01:15] liamcottle commented on #89
Thanks to who ever changed the passwords to my test accounts... You should've made your own... Just slows down what I'm doing...

[2015-02-01 01:33] cuonic commented on #89
@liamcottle

`dtoken1i` is the Device token ID
`dtoken1v` is the Device token value
`dsig` is the Device token signature

`dsig` is the SHA256 HMAC of `[USERNAME]|[PASSWORD]|[TIMESTAMP]|[REQUEST_TOKEN]` using `dtoken1v` as the secret key.

You can obtain a new Device token set (`dtoken1i` and `dtoken1v`) by posting to `/loq/device_id` without authentication, only a timestamp is required

    publi

[2015-02-01 01:36] liamcottle commented on #89
I just finished coding this in Java ;)

I believe they are using `System.currentTimeMillis();` instead of `new Date().getTime();`

[2015-02-01 01:37] cuonic commented on #89
@liamcottle I'm trying to implement the hashing function in PHP but I'm not able to reproduce all the getBytes, and I have no idea how the mac function works on byte arrays.

[2015-02-01 01:40] cuonic commented on #89
@liamcottle Could you send me an example of all the different variables (username, password, timestamp, request token), the `dtoken1v` and the `dsig` for the specified timestamp and request token so that I can keep trying the HMAC function until it produces the correct output ?

[2015-02-01 01:52] liamcottle commented on #89
From Login Request:
    dtoken1i: 1bd3c0fb-8c5a-4633-acfa-8f96cda1a405
    dtoken1v: neu8H3+7TgDwq7GUcmwSpQ==

Next Login with DSIG:

    dsig: bd05d90bef579a1b744d
    dtoken1i: 1bd3c0fb-8c5a-4633-acfa-8f96cda1a405
    req_token: 93099f5b6a1136b86ea04ee5fcad85d4b9e64d8b190cda8119b48614d0c510db
    timestamp: 1422755390239
    username: govjnwogl

[2015-02-01 01:54] cuonic commented on #89
Could you provide the password as well, it's used to create the `dsig`.
You can send it via email if you want (cuonic@cuonic.com). Promise I
will not use it or change it :)

On 01/02/2015 02:52, Liam Cottle wrote:

[2015-02-01 01:55] liamcottle commented on #89
Yeah sorry, forgot to copy it:

    Username: govjnwogl
    Password: snapchat-test-1

[2015-02-01 01:56] cuonic commented on #89
@liamcottle Thank you very much :)

[2015-02-01 02:12] liamcottle commented on #89
This works mint:

    <?php

    $dtoken1i = "1bd3c0fb-8c5a-4633-acfa-8f96cda1a405";
    $dtoken1v = "neu8H3+7TgDwq7GUcmwSpQ==";
    $req_token = "93099f5b6a1136b86ea04ee5fcad85d4b9e64d8b190cda8119b48614d0c510db";
    $timestamp = "1422755390239";
    $username = "govjnwogl";
    $password = "snapchat-test-1";

    $expected_dsig = "bd05d90bef579a1b744d";

    $dsig = hash_hmac('sha256', $username

[2015-02-01 02:13] cuonic commented on #89
@liamcottle Yeah I just worked that out, I thought my HMAC was wrong but the API is still rejecting me, now I need to implement the ptoken and Authorization header.

[2015-02-01 02:15] liamcottle commented on #89
Chuck this in the `ptoken` param:
    APA91bE61mGyo97nprk1Gq_-OvKs6FxFXhuIGmoILx2-Tr960QVeKWrBKsWikG5znzkGJOXF9Udz4pd-TGJnSbfXEdPyNN_CLhiWkBtNyA0adZ8NPXA9B9PXatVTHmxfnjcaIBumpsyUdRNgYYJcc4xoq5M_k65nKw

... and then `Bearer ng` as the `Authorization` header and see if that works...

Only use that as the `ptoken` to see if it works... As it is a valid one.

[2015-02-01 02:16] cuonic commented on #89
@liamcottle It works perfectly, thanks. Now it's time to generate these.

[2015-02-01 02:18] liamcottle commented on #89
Mint!

One sad thing, is that `ptoken` requires an Android device to make a request to Google with the GooglePlayServices library...

I'm not sure how we can go about doing this...

[2015-02-01 02:22] cuonic commented on #89
Yeah I'm not sure that we can get these as easily. i'll try keeping to `Bearer ng` for the moment with a valid GCM token. I've tried randomly generating these but they are also verified.

[2015-02-01 04:41] liamcottle commented on #89
Just made a GCM Registration request, via an android test app with a random package name eg com.example.randomapp and gave the Registration ID to `ptoken` snapchat gives a 401.

... but if I clone the request that was made to register for GCM, and change the package name in the request, to com.snapchat.android then give that Registration ID to snapchat, then it logs in successfully...

So, they're

[2015-02-01 04:41] cuonic commented on #89
@liamcottle Emulating the Google OAuth token request is simple, the request is always the same for a given user

## Headers

    device:           3730d21d8976a879
    app:              com.snapchat.android
    User-Agent:       GoogleAuth/1.4 (mako JDQ39)
    content-length:   548
    content-type:     application/x-www-form-urlencoded
    Host:             android.clients.google.com
    Connecti

[2015-02-01 04:48] liamcottle commented on #89
That all looks good man, I'll setup some dummy accounts, and intercept the request so I can grab the encrypted password.

Then setup up a test token server, so I can pull an auth token remotely.

[2015-02-01 09:19] ddaddy commented on #89
I know your working with the Android app, but on iOS if you say NO to accepting notifications, the returned push ID is 0, so they must have a way to process these also. Is there a way on Android to turn off the notifications and therefore not get a GCM? Or is one always returned?

[2015-02-01 13:43] LinoSuarez commented on #89
On Snapchat/9.0.2.0 you're able to log in with only:

* username
* password
* req_token
* timestamp

The problem is this thing: "X-Snapchat-Client-Token", we need to find out how is generated. Right now I'm reversing the app I will post any news. Good luck :+1:

[2015-02-01 14:12] cuonic commented on #89
GCM Requests can also be replayed using similar code, you just need to sniff one real request then it's easy :

    public function getGCMToken() {

		$ch = curl_init();

		$postfields = array(
			'X-GOOG.USER_AID' => '3976909495270287464',
			'app' => 'com.snapchat.android',
			'sender' => '191410808404',
			'cert' => '49f6badb81d89a9e38d65de76f09355071bd67e6',
			'device' => '3976909495270287464

[2015-02-01 14:22] LinoSuarez commented on #89
Here is the latest Snapchat source code.
[Download](https://mega.co.nz/#!BkImGbIJ!jccGJmy4R6bbR4pPMrdk0Rjb_-7xiZXZNv6HiuufGKo)

It includes latest Snapchat.sdk and source code in Java, enjoy :facepunch:

[2015-02-01 14:34] cuonic commented on #89
@LinoSuarez Where are you seeing "X-Snapchat-Client-Token" being sent as a header ?

[2015-02-01 14:40] LinoSuarez commented on #89
@cuonic it's on the iPhone version of the app. The login it's much more simple than on android the unique problem is that Client token... I'm working on reversing the app but it's much more difficult than on android, its taking me some time

[2015-02-01 20:48] cuonic commented on #89
I've put all my code here : https://github.com/cuonic/php-snapchat

This includes logging in, getting updates, sending a device token, getting a GCM token, getting a Google OAuth2 token and downloading a Snaptag image

[2015-02-02 01:12] mgp25 commented on #89
I recently added a useful debug mode, if anyone wants to collaborate, feel free to send pull request. Within the next few days, ill be posting in the wikis repo all the information about:

- reversing
- using the api
- full disclosure
- patched apks
- iphone information about snapchat.

I'll add PSR-2 coding style once i write all documentation.

https://github.com/mgp25/Snap-API

P.S: Snapchat, w

[2015-02-02 02:28] LinoSuarez commented on #89
@cuonic  I get
array (size=1)
  'message' => string 'Failed to get new Device token set.' (length=35)
Any idea? :/

[2015-02-02 02:30] liamcottle commented on #89
Did you replace all of the place holder values?
On 2/02/2015 3:28 pm, "LinoSuarez" <notifications@github.com> wrote:

[2015-02-02 02:34] LinoSuarez commented on #89
@liamcottle Ah I just saw that, thought it was ready to go hahah. Any way to get all those values without sniffing snapchat?

[2015-02-02 07:43] cuonic commented on #89
Sniffing the real values is required at least once, otherwise we would
have to reverse engineer Google's OAuth token generating request, and
I'm sure all have better things todo than throw ourselves into that.

On 02/02/2015 03:34, LinoSuarez wrote:

[2015-02-02 07:46] LinoSuarez commented on #89
@cuonic What about asking the user to enter google acc then use Google's OAuth API to get those values?

[2015-02-02 07:48] cuonic commented on #89
Because this is Google's OAuth API made specifically for authenticating
android devices, it's not just basic OAuth, so it requires a bit more
than a username and password

On 02/02/2015 08:46, LinoSuarez wrote:

[2015-02-02 07:51] LinoSuarez commented on #89
@cuonic Got it, so how it would be possible now to scale this API, I mean could we just use the same google acc for everyone using the app? Would that be to suspicious?

[2015-02-02 07:52] cuonic commented on #89
It would probably be suspicious, and Snapchat will be able to find out,
every OAuth2 token gives them basic info about your Google Play account
(email and other stuff) so if they see 10+ user's using the same Google
Play account it'll start to look fishy.

On 02/02/2015 08:51, LinoSuarez wrote:

[2015-02-02 07:56] LinoSuarez commented on #89
@cuonic I know... Maybe the solution would be to add a proxy to the API witch can read that information needed from Google Play. Otherwise I don't see how this could scale up. Or maybe try to implement iOS login.

[2015-02-02 08:17] cuonic commented on #89
You could create a quick android app to fetch an auth token pretending
to be Snapchat, if you use all their API keys it should be good.

On 02/02/2015 08:56, LinoSuarez wrote:

[2015-02-02 08:20] mgp25 commented on #89
Im working with iOS login, ill have it ready in the next few days, also working in a better way to extract it from android device.

[2015-02-02 08:21] LinoSuarez commented on #89
@mgp25 Have you find out how X-Snapchat-Client-Token is generated?

[2015-02-02 08:25] liamcottle commented on #89
I reckon figuring out how that X-Snapchat-Client-Token is generated... because if we get that, we don't need to do any of the notification tokens, or google oauth bearer.... because we can say no to ios notifications, and it won't send that param...

[2015-02-02 08:26] mgp25 commented on #89
@LinoSuarez i haven't checked that, but it should be easy to find. I'll work on that today.

[2015-02-02 08:39] cuonic commented on #89
Definetely more interesting to use iOS for logging in, the rest of the
requests should be the same afterwards right ?

On 02/02/2015 09:25, Liam Cottle wrote:

[2015-02-02 08:40] mgp25 commented on #89
@cuonic Yes, are the same, only login values were different.

[2015-02-02 08:41] liamcottle commented on #89
Yep, just sniffed some iOS requests...

They are the same as android other than the login request, and that the `User Agent` is the iOS one... and they also pass `X-Timestamp` header which is the same as the timestamp passed as a post param

[2015-02-02 14:19] mgp25 commented on #89
I have it almost ready. If there is someone experienced in reversing (smali, android, etc..) and have android device, please contact with me.

Regards

[2015-02-02 18:20] KyleBoyer commented on #89
If I have no android device, should I hold off on updating my useragent from 8.1.1 to the 9.0.2.0 until the iOS version is figured out? Otherwise, is there a way I can get all that data without an android device on me?

[2015-02-02 18:32] Snowlav commented on #89
You could try genymotion or bluestacks with proxycap.
Genymotion I am pretty sure about but bluestacks not 100%

[2015-02-02 18:33] Snowlav commented on #89
@cuonic I am not sure if everything is the same after logging in, when I find my iphone charger I'll so some comparisons

[2015-02-02 18:34] Snowlav commented on #89
Nvm I missed the replies you got, my bad ?

[2015-02-02 18:49] KyleBoyer commented on #89
Using VirtualBox, am I able to generate the following:
			'X-GOOG.USER_AID' => 'YOUR_GOOGLE_USER_AID',
			'sender' => 'YOUR_SENDER_KEY',
			'cert' => 'YOUR_CERT_KEY',
			'device' => 'YOUR_DEVICE_ID',
			'Authorization: AidLogin YOUR_GOOGLE_USER_AID'
And:
			'accountType' => 'HOSTED_OR_GOOGLE',
			'Email' => 'GOOGLE_PLAY_ASSOCIATED_EMAIL',
			'androidId' => 'YOUR_ANDROID_ID',
			'client_sig' => 'YO

[2015-02-02 21:07] mgp25 commented on #89
@KyleBoyer im researching for a better solution for android using snapchat token :) but if you have android device, you can capture that request, i'll a guide tonight in my repo.

Regards

[2015-02-02 21:08] LinoSuarez commented on #89
@mpg25 You should rally checkout iOS

[2015-02-02 21:09] LinoSuarez commented on #89
*Really

It looks so much easier, but now I have exams so don't have that much time to reverse it

[2015-02-02 21:10] mgp25 commented on #89
@LinoSuarez Yes, i already doing that, i already decrypted the ipa and very easy to follow it will take a little but yeah i can figure it out :smile:

[2015-02-02 21:13] LinoSuarez commented on #89
Could you send me the decrypted ipa? Idk why my iPhone now crashes now while I'm deofuscating it 😪

[2015-02-02 23:23] KyleBoyer commented on #89
Can I also get a copy @mgp25, my iDevice is not jailbroken :X

[2015-02-02 23:45] liamcottle commented on #89
Here's the decrypted binary, (note that it's the Snapchat binary inside Snapchat.app and not all the other stuff).

Snapchat Binary:
`http://liamcottle.com/stuff/snapchat.tar.gz`

Snapchat Classes:
`http://liamcottle.com/stuff/snapchat-class.txt`

You can use `gdb` to insert breakpoints in code etc.

I'm trying to find how they're generating the X-Snapchat-Client-Token

Hopefully you guys might be

[2015-02-03 08:30] cuonic commented on #89
Well this just happened trying to use the new API :
"Oh no! Your account has been locked for repeatedly using third-party applications. For more information, or if you feel we've made a mistake, please visit https://www.snapchat.com/locked"

I'm trying everything to not get detected, but somehow they still manage to detect 3rd party usage

[2015-02-03 08:34] liamcottle commented on #89
Hmm...

Could be that your server timestamp is different?
Are you sending the Keeping the connection alive? `Keep-Alive`

I'm still working on the decrypted iOS code....

[2015-02-03 08:35] cuonic commented on #89
Server timestamp is good, good point about the Keep-Alive, I'll try that.

On 03/02/2015 09:34, Liam Cottle wrote:

[2015-02-03 08:58] LinoSuarez commented on #89
Do you guys know any way to sniff my MAMP server? I mean it's not that hard to jut add some debug code, but it's always easier to see the packages on Charles

[2015-02-03 09:01] liamcottle commented on #89
What are you needing to do that for? Also, you can add enable Mac OSX proxy via Charles.

[2015-02-03 09:08] LinoSuarez commented on #89
It doesn't seem to work charles and MAMP don't play nicely together, it's easier to see your request on Charles and just compare them to the original request and if something it's not working correctly then you see what are the differences on the requests.

[2015-02-03 09:12] liamcottle commented on #89
Ahh makes sense, forgot this was the PHP lib... sorry.

[2015-02-04 05:13] LinoSuarez commented on #89
@JorgenPhi Ah true, thanks!

[2015-02-04 05:15] JorgenPhi commented on #89
Don't forget CURLOPT_SSL_VERIFYHOST & CURLOPT_SSL_VERIFYPEER need to be 0.

[2015-02-04 17:59] KyleBoyer commented on #89
On iOS when snapchat opens/closes it sends requests to: https://sc-analytics.appspot.com
The content of these requests include:
I'm not sure what content could be maliciously, so I censored out a lot of variables.
https://sc-analytics.appspot.com/analytic_events
[{
	"session_id": #############,
	"event_name": "session_start",
	"client_upload_ts": #############,
	"event_id": #####,
	"client_ts": ##

[2015-02-04 18:27] mgp25 commented on #89
Here are some captures (login, logout, analitic events...) iOS: http://cl.ly/2R2F0K0h3p0W

I recommend for the android users go to `/data/data/com.snapchat.android` and check for the `sharedPrefs` and `gaClientId`

[code]

[2015-02-04 22:01] Snowlav commented on #89
any progress on the ios login? is there anything you guys might need in terms of tools etc?

[2015-02-05 04:45] LinoSuarez commented on #89
About to give up, I just can't find how "X-Snapchat-Client-Token" is generated.

[2015-02-05 05:05] Snowlav commented on #89
Don't give up! :o
I was thinking why not use the old api to login and then export the auth token to use with the new api.
When updating snapchat I never get asked to re-login, so that idea should work. Right ?

[2015-02-05 05:09] LinoSuarez commented on #89
The old api still works, the problem is that it will get discontinued so that's why we're trying to update to the new version of snapchat before the old api get obsolete (:

[2015-02-05 05:16] LinoSuarez commented on #89
Ghhhh I will just brute force the dam Snapchat Client Token, any ideas of what kind of encryption its used on that variable? 2 Titan Z + GPU Bruteforce software = can crack anything in hours

[2015-02-05 05:25] Snowlav commented on #89
I have no clue but I like your plan, keep us updated. Nice graphic cards
dude :D
On Feb 5, 2015 6:16 AM, "LinoSuarez" <notifications@github.com> wrote:

[2015-02-05 05:30] KyleBoyer commented on #89
Mine looks like it is "v1:" then a hash. This hash looks like it could be one of the following methods:
- md5($salt.$pass.$salt)
- md5($salt.md5($pass))
- md5($salt.md5($pass.$salt))
- md5($salt.md5($salt.$pass))
- md5($username.0.$pass)
- md5(md5($pass).md5($salt))
- md5(md5($salt).$pass)
- HMAC-MD5 (key = $pass)
- HMAC-MD5 (key = $salt)
- md5($pass.md5($salt))
- WebEdition CMS
- IPB2+, MyBB1.2+

[2015-02-05 05:32] liamcottle commented on #89
Format is v1:HASH:ANOTHER_HASH

On Thu, Feb 5, 2015 at 6:30 PM, KyleBoyer <notifications@github.com> wrote:

[2015-02-05 05:34] KyleBoyer commented on #89
Or rather, the colons probably separate different hashes.

So it looks like "v1:" and maybe a hash of the following types:
 - MD5
- NTLM
- MD4
- LM
- RAdmin v2.x
- Haval-128
- MD2
- RipeMD-128
- Tiger-128
- Snefru-128
- MD5(HMAC)
- MD4(HMAC)
- Haval-128(HMAC)
- RipeMD-128(HMAC)
- Tiger-128(HMAC)
- Snefru-128(HMAC)
- MD2(HMAC)
- MD5(ZipMonster)
- MD5(HMAC(Wordpress))
- Skein-256(128)
- Skein-512(12

[2015-02-05 06:06] cuonic commented on #89
Hash 1 is 32 characters long, it's clearly an MD5. We need some more requests from iOS apps to look for patterns. Create a fake account, logout and login whilst saving the request and post everything here (headers / request) for everything up to login

[2015-02-05 11:40] LinoSuarez commented on #89
Impossible to brute force, it's a really long String.

[2015-02-05 12:25] liamcottle commented on #89
No ones had any luck with the iOS reversing?

[2015-02-05 16:47] KyleBoyer commented on #89
Using decrypted Snapchat.app that I downloaded, I'm only able to see compiler code in Hopper which is extremely difficult for me. Does anyone have more experience with compiler code?

[2015-02-05 21:21] WaterSpice commented on #89
I'm getting issues with using JorgenPhi's API. Everything works fine, but after a few hours I get the:
"Stop using 3rd party apps"

Anyway to fix this? Or anyway to spoof it?

[2015-02-05 22:19] KyleBoyer commented on #89
The files on the repo are old. Try using these instead:
https://gist.github.com/cuonic/449a34af812fefc72522
https://gist.github.com/cuonic/bb106e1ce978ebf71c6e

Without the cache script, but with the crt file.

[2015-02-06 00:02] WaterSpice commented on #89
@KyleBoyer
Tried with new files.
This is my code:
http://pastebin.com/Vu3rFCwJ

Getting the error:
Trying to get property of non-object
	Snapchat->getFriends( )	..\test.php:5

When I use those 2 files you linked me, it doesn't work.

When I put back JorgenPhi's repo's files, it works fine.

Any ideas?

[2015-02-06 00:10] Snowlav commented on #89
@WaterSpice  could you make a separate issue for this?

[2015-02-06 03:30] LinoSuarez commented on #89
It still works for me! If you want I can help you, skype me: lino.suarez.diaz
![screenshot 2015-02-05 19 25 11](https://cloud.githubusercontent.com/assets/6445704/6074144/3382c772-ad6d-11e4-870b-12abf0f061d0.png)

[2015-02-06 03:43] WaterSpice opened #90 "Snapchat Locked from using this API - 3rd party software"
My snapchat just got a warning about 3rd party software, and I was pointed to make a new thread on this.

Issue:
Snapchat is getting locked because it's seeing this API as 3rd party software.

Solution:
Anyone have a solution? Updated files that work? A way to spoof it to look like a phone?

Any help is appreciated, thanks.

[2015-02-06 03:51] Snowlav commented on #90
Thanks for making a new thread and keeping things neat and seperated.

The headers you use should "spoof" it and have it seem as you are using for.
I and I think I can safely say "we" are not entirely sure what flags 3rd part code BUT it might be the lack of information you are sending to snapchat.

When using a MITM attack we can see that there lots of requests/POSTs made when using an endpoint.

[2015-02-06 03:57] WaterSpice commented on #90
@Snowlav I really don't know how to do all that header/endpoint stuff, and I don't think a proxy would change it. I think having a proxy on would make it worse tbh

Also I'm using a code to mass send out friend requests if that helps.
It pretty much mass adds, then mass deletes. This is the first time ever I've received the 3rd party thing. I've done it numerous times on plenty of accounts in the

[2015-02-06 03:59] KyleBoyer commented on #89
On the latest iOS Snapchat update(Snapchat/9.1.1.0 (iPhone6,1; iOS 8.1.3; gzip)), the X-Snapchat-Client-Token is only passed when logging in.

Hopefully that will simplify attempting to figure out what the hashes are. Also, once the login request is made, and an auth_token is returned, I was able to use the auth_token simultaneously on the authentic app, and with this PHP script(with the 8.1.1 use

[2015-02-06 04:01] Snowlav commented on #90
I'm afraid I can't offer you a quick fix, I'd advise you to read into the issues etc around here to gather some knowledge on what your code is actually doing and how to update it.

[2015-02-06 06:13] KyleBoyer commented on #90
What code are you using for all of your scripts/dependencies?

[2015-02-06 06:15] WaterSpice commented on #90
@KyleBoyer I'm using Jorgen's repo atm
The 2 links you gave me to cuonto's didn't work

[2015-02-06 06:27] LinoSuarez commented on #90
@WaterSpice add me to skype: lino.suarez.diaz

[2015-02-06 09:27] LinoSuarez commented on #89
Guys I have an idea!!! What if we use Ajax to manage all the requests. Meaning php code doing all encryptions/decryptions then passing the data to the client and then the client will do the request instead of the server doing it. This way we could solve many banning problems, will be less suspicious since we will be using the client IP to make the requests

[2015-02-09 04:08] KyleBoyer commented on #89
That could be a possibility, however some people use this PHP script to make a snapchat bot that runs via a cron job on a server, so the AJAX would make no difference in regards to IP...

[2015-02-09 14:09] Maraumax commented on #89
@LinoSuarez We can not because of [CORS](http://en.wikipedia.org/wiki/Cross-origin_resource_sharing).

[2015-02-09 15:03] JorgenPhi commented on #89
Anyway to bypass that? I mean, it's up to the browser to respect that.
On Feb 9, 2015 8:09 AM, "Maraumax" <notifications@github.com> wrote:

[2015-02-09 17:28] cuonic commented on #89
The problem is not the IP, well it is if you are blocked from using the
Snapchat API, but that's another story.
Loads of people (different accounts) connect from the same IP at the
same time at loads of places (Public WIFI hotspots, University campus,
libraries...) so Snapchat do not detect third party apps because you
login to multiple accounts with only one IP.

Using javascript or any other scr

[2015-02-09 17:38] Snowlav commented on #89
@cuonic what you are saying makes perfect sense, however what doesn't is that snapchat won't block the network when you are just using /loq/login and send snaps (for example) if just a few accounts are active, but it starts blocking when there's more accounts active on the same ip all doing the same process.

[2015-02-09 17:39] cuonic commented on #89
@snowlav No I don't think that's the problem, I've only ever used one
account and it was blocked because of logging in and instantly sending
snaps. The detection is not instantaneous, it takes time, no idea how much.

On 09/02/2015 18:38, Snowlav wrote:

[2015-02-09 17:42] Snowlav commented on #89
@cuonic  that's really strange the only time I had an IP blocked on <5 accounts was when my code bugged out and it kept logging into one account over and over again (calling /loq/login a lot of times in a row) or when sending snaps one by one without a delay.

[2015-02-09 17:50] WaterSpice commented on #89
@Snowlav @cuonic
I changed the version and line 52
	public static $CURL_OPTIONS = array(

I changed those 2 and haven't gotten anymore warnings.

Also pretty off topic, but do you know if there's a way to see all users who viewed your story with the API? I can't figure out how to get your own story's data

[2015-02-09 17:52] cuonic commented on #89
@snowlav Maybe the third party app is detected faster on multiple
accounts because the same non standard network patterns are coming from
the same IP, maybe there is a counter, and with multiple accounts you
max out the counter faster.

On 09/02/2015 18:42, Snowlav wrote:

[2015-02-09 17:57] Snowlav commented on #89
I think a network isn't supposed to get banned for the actual 3rd party usage but rather what you do with it.
For example I never heard of public wifi spots getting banned due to 6snap users or any other windows phone 3rd party applications.

I think what blocks networks (may it be one or more accounts) is that activity performed (exactly as the message says when your network is blocked -suspiciou

[2015-02-09 18:05] cuonic commented on #89
Network blocking is something recent though, 6snap and other third party
apps for phones published on some market (Google play, App store) never
resulted in a network ban, and neither did anything. Only recently have
Snapchat started to crack down on third party apps and performing
network blocking.

On 09/02/2015 18:57, Snowlav wrote:

[2015-02-09 18:18] Snowlav commented on #89
I got network blocked before while just swapping from ipod to android and other way around as stated in my post.
It's not something they just started doing, the frequency might have become higher but it's certainly not just starting.

[2015-02-10 16:00] WaterSpice opened #91 "Stories question"
How would I get a list of recipients that have viewed a story posted by me?

Is this possible?

[2015-02-10 16:22] Snowlav commented on #91
not as far as I am aware at this moment.

[2015-02-10 19:42] cuonic commented on #91
It's possible because the application does it, it should be in
/loq/all_updates output, somewhere.

On 10/02/2015 17:22, Snowlav wrote:

[2015-02-10 19:45] Snowlav commented on #91
I'll do some sniffing later tonight and update you with what I can find

[2015-02-10 20:17] LinoSuarez commented on #89
Funny SaveSnap it still using "Snapchat/4.1.07 (Nexus 4; Android 18; gzip)"

[2015-02-10 20:40] mgp25 commented on #89
Managed to trick snapchat for iOS with a tweak and make it work with the API :) i'll try to do a better tool with UI and upload to a cydia repo. Also i have the snapchat api using android data working, will send more information when possible.

Have a nice week.

Regards

[2015-02-10 22:13] liamcottle commented on #91
There is a json array, inside the story container which is called `story_notes`. It contains the username, timestamp and if the user screenshotted the story.

[2015-02-11 00:40] liamcottle commented on #89
Just thought I'd let you all know, Snapchat is getting their lawyers to send out cease and desist notices...
So this could be the end...

[2015-02-11 00:42] LinoSuarez commented on #89
But to who?

[2015-02-11 00:43] LinoSuarez commented on #89
Also It's possible to make this legal, what about all the snapchat hack apps on the app store?

[2015-02-11 00:46] liamcottle commented on #89
First one was to the guy who built SnapMod:
http://forum.xda-developers.com/showpost.php?p=58764245&postcount=395

I believe they're in the process, (continuing to) remove all third party snapchat apps from all app stores.

I guess we could just remove the keys etc, and it would be legal?

[2015-02-11 00:51] LinoSuarez commented on #89
lawyers, theyre the answer

[2015-02-11 00:58] JorgenPhi commented on #89
I've yet to get anything. And if anything we can move this project over to
i2p or something else as long as there interest.
On Feb 10, 2015 6:51 PM, "LinoSuarez" <notifications@github.com> wrote:

[2015-02-11 01:00] JorgenPhi commented on #89
*there is. This reminds me. We need an IRC channel. What's your preferred
network?
On Feb 10, 2015 6:57 PM, "Jorgen Phillips" <jorgenphillips@gmail.com> wrote:

[2015-02-11 01:03] liamcottle commented on #89
I haven't used IRC, so anything is fine for me I guess?

[2015-02-11 02:27] WaterSpice commented on #89
@JorgenPhi
Just get a channel on Esper?

[2015-02-11 02:32] JorgenPhi commented on #89
Sure. Let me add that to my bouncer.

Channel is #php-snapchat on irc.esper.net
On Feb 10, 2015 8:27 PM, "WaterSpice" <notifications@github.com> wrote:

[2015-02-11 02:36] LinoSuarez commented on #89
I think snapchat is reading all this and yeah It can take down the public API. What about making a Skype group? I can also host the GIT on my private Gitlab server if needed :)

[2015-02-11 02:40] JorgenPhi commented on #89
That'd be lovely. If someone wants to make a Skype group, let me know. The
irc channel is up and running, so if you want to talk in there, feel free.

Also, about the git, if it comes down to it, that would be great!
On Feb 10, 2015 8:36 PM, "Lino Suarez" <notifications@github.com> wrote:

[2015-02-11 02:43] WaterSpice commented on #89
@JorgenPhi Can you make the IRC public? Or invite "WaterSpice"
Me an @LinoSuarez can get the skype group rolling if you want, I have him on skype.

[2015-02-11 02:46] JorgenPhi commented on #89
It's not public? And yes I'll invite you.
On Feb 10, 2015 8:43 PM, "WaterSpice" <notifications@github.com> wrote:

[2015-02-11 02:58] JorgenPhi commented on #89
My bad. Accidentally had it set +i.
On Feb 10, 2015 8:46 PM, "Jorgen Phillips" <jorgenphillips@gmail.com> wrote:

[2015-02-11 02:59] LinoSuarez commented on #89
@JorgenPhi  add me to skype: lino.suarez.diaz
I already added 3 people to the group

[2015-02-11 03:30] JorgenPhi commented on #89
Alright. Follow up. The irc channel exists, but is fairly dead. Skype group
is much more popular. If you want an invite, let me know or add Lino and
he'll add you to the group.
On Feb 10, 2015 8:59 PM, "Lino Suarez" <notifications@github.com> wrote:

[2015-02-11 08:40] ashokfernandez commented on #89
@LinoSuarez - I've sent a request to you on Skype!

[2015-02-12 16:23] liamcottle commented on #89
lol! They've changed the user agent again...

New format: `Snapchat/9.1.0.0 (SM-G900I; Android 4.4.2#G900IDVU1ANK1#19; gzip)`

... and, even more interesting, is this user agent returns ALL snap blobs unencrypted... I guess they realised the whole encrypting and decrypting snaps was pointless if we all know the encryption/decryption keys...

[2015-02-12 16:25] JorgenPhi commented on #89
All blobs are unencrypted?

*parties internally*
On Feb 12, 2015 10:23 AM, "Liam Cottle" <notifications@github.com> wrote:

[2015-02-12 16:27] liamcottle commented on #89
I don't think story blobs are unencrypted, though I highly doubt they'd unencrypt those...

However, I just checked the old user agent, and that returns unencrypted blobs as well...

So they must be working on the API right now or something, because they were all encrypted about 20 minutes ago, and now they're not, so the server must pre-decrypt them all now..

... and I guess the new update to th

[2015-02-12 16:29] liamcottle commented on #89
I was working on some things, and all of a sudden decryption was failing... so looked at blob data, not even encrypted...

[2015-02-12 16:30] LinoSuarez commented on #89
Some time ago they says they where going to release an API maybe something
of that is going on

On Thursday, February 12, 2015, Liam Cottle <notifications@github.com>
wrote:

[2015-02-12 16:32] liamcottle commented on #89
Could be... But I highly doubt they're going to even release an API...

Just all talk to keep us waiting... Because the whole point of snapchat is to send media that will be gone shortly after, and if they released a public API to download snaps, then it would make their whole system pointless.

[2015-02-14 02:14] liamcottle commented on #89
Looking into it a bit more, I reckon snapchat is sending ping requests to their server via their chat socket... and flagging accounts that's don't ping... Could be something to look into?

[2015-02-14 03:53] KyleBoyer commented on #89
Also when sending data, through charles proxy it looks like there is an extra parameter under data as seen here: http://s10.postimg.org/66bhe8ovd/namedata.png
Notice: filename="data"

[2015-02-19 07:03] jrgp opened #94 "Invalid unit test credentials == all tests failing"
Someone should redo the set of test users in tests/phpSnapchatTest.php, maybe even automate regenerating them somehow.

[2015-02-19 17:59] Snowlav commented on #19
Very old topic but I'm going to reply anyway,
I have the same phone number when sniffing /loq/register_username.
And I am from Holland as well.
+31636465228

[2015-02-21 01:46] Nyte9 opened #95 "PHP Fatal error line 234 of snapchat.php"
Here's the exact message:
"PHP Fatal error:  Call to a member function get() on a non-object in G:\PleskVhosts\nekoview.com\httpdocs\snapchat.php on line 234"

Looked at a few older threads saying an earlier commit fixed this (https://github.com/JorgenPhi/php-snapchat/issues/65) but I'm still getting it.
Strangest thing about this is that it works fine when hosted on my local PC and laptop. But wh

[2015-02-21 03:31] liamcottle commented on #95
This library is using extremely old endpoints, and will most likely lead to
account bans... However, this error is likely because the IP address of
your GoDaddy server has been blocked by Snapchat.

On Sat, Feb 21, 2015 at 2:47 PM, Nyte <notifications@github.com> wrote:

[2015-02-24 09:47] Kroolcell opened #96 "PHP Notice: Trying to get property of non-object in snapchat.php line 471"
This is after changing the login order, so the line in reference is:
'if (strpos($result->message, 'Sorry! Couldn\'t find') === 0) {'

[2015-02-25 00:20] nicolashardy opened #97 "$snapchat->upload() doesn't work with all mp4 videos"
Hello

I'm trying to use this library but I have a problem

All the mp4 files don't work apparently.

This one works http://techslides.com/demos/sample-videos/small.mp4
This one doesn't https://fat.gfycat.com/UncommonForkedArthropods.mp4

The method used is the same than in the example

$video = http://.....
$id = $snapchat->upload(
        Snapchat::MEDIA_VIDEO,
        file_get_contents($video)

[2015-02-25 08:53] ricoxor opened #98 "Snapchat Object ( [auth_token] => [username] => )"
Hi,
Since yesterday i can't use the API php-snapchat.

[code]
The result is ```Snapchat Object ( [auth_token] => [username] => )```

I have created a new account and i try the script on a new server for change account/ip's.

Do you know why i can't use this API now ?

[2015-02-25 09:02] ThePengwin commented on #97
For starters, your second video is over 10 seconds long.
Snapchat won't allow a video over 10 seconds.

[2015-02-25 12:58] nicolashardy commented on #97
Thank you for your answer. Anyway, I still have the same issue with : https://fat.gfycat.com/ThreadbareGenuineHake.mp4 which is shorter than 10secs

[2015-02-25 23:00] thearion commented on #98
Getting the same var dump...

[2015-02-26 22:33] realmuster commented on #89
@LinoSuarez can you please accept my friend request on skype? ;)

[2015-03-01 21:03] IvanTheBuilder commented on #98
Having the same issue

[2015-03-01 22:02] mgp25 commented on #98
You can use this for now Snap API: https://github.com/mgp25/Snap-API

Regards

[2015-03-02 01:41] thearion commented on #98
@mgp25

Notice: Undefined variable: auth_token in C:\xampp\htdocs\test\exampleFunctional.php on line 17

Notice: Undefined variable: multipart in C:\xampp\htdocs\test\src\snapchat.php on line 90

Notice: Undefined variable: multipart in C:\xampp\htdocs\test\src\snapchat.php on line 295

Notice: Undefined variable: media_id in C:\xampp\htdocs\test\index.php on line 24

[2015-03-02 01:46] mgp25 commented on #98
@thearion use it in terminal / shell / cmd :smile:

[2015-03-02 08:43] ricoxor commented on #98
[code]
@mgp25 your api return :
- Notice: Undefined property: Snapchat::$cache in C:\wamp\www\Snap-API-master\src\snapchat.php on line 428
- Fatal error: Call to a member function get() on a non-object in C:\wamp\www\Snap-API-master\src\snapchat.php on line 428

[2015-03-02 08:47] mgp25 commented on #98
@ricoxor there are some functions that arent updated yet, i havent tests the getSnaps yet, but the main functions (postStory and send) works perfectly, im using version 9+, on my spare time ill be updating the API. I suggest you to use simple scripts in terminal because it provides a debug log.

Regards

[2015-03-02 15:40] thearion commented on #98
@mgp25
Story and Send work. Just needs getSnaps() to work :D

[2015-03-06 00:42] Spurlex commented on #89
@JorgenPhi Can you add Xelrups to the group thx

[2015-03-06 16:16] mib4fun commented on #89
@JorgenPhi  add me too. **bellamy-fan**

[2015-03-07 00:25] mgp25 commented on #98
@thearion now its working,  give a try :smile: and i recommend you doing `getSnaps(true)` it will save automatically all snaps :)

[2015-03-08 23:06] Geczy commented on #96
same here on `$conversations = $updates['data']->conversations_response;` ErrorException
…/­app/­controllers/­snapchat.php495

[2015-03-08 23:07] Geczy commented on #96
[code]

[2015-03-08 23:41] mgp25 commented on #96
@Geczy hi there, we are updating the API here: https://github.com/mgp25/Snap-API

There are function to be updated yet, but the most importants works!

Regards

[2015-03-10 08:49] coldTaZZer opened #99 "[Need update] Snapchat::$cache"
Hi, i've got a problem with the api:

PHP Notice:  Undefined property: Snapchat::$cache in /home/vance/SnapchatAPI/php-snapchat/src/snapchat.php on line 234
PHP Fatal error:  Call to a member function get() on null in /home/vance/SnapchatAPI/php-snapchat/src/snapchat.php on line 234

I did not have this error before. The piece of code used to work fine before, but since the beginning of the week n

[2015-03-18 20:51] iguanaman commented on #89
@LinoSuarez sent you a skype request with details, thanks

[2015-03-22 01:45] andresarocho commented on #89
@LinoSuarez Can you please add volcom526

[2015-03-28 03:21] adriancooney commented on #89
@LinoSuarez add me too? cooney.adrian. Cheers for the good work guys!

[2015-04-07 23:02] KiranPanesar commented on #89
@LinoSuarez Can you add me to the group? kiranspanesar. This thread is really interesting.

[2015-04-10 17:37] jalandro commented on #89
See Gitter for chat group at github. https://gitter.im/

@JorgenPhi
Please consider making a team with @cuonic and @mgp25 (They have great forks).

[2015-04-18 18:14] robertbodley opened #100 "Snapchat QR code"
Hi,

I would really appreciate it if someone could help me get any users snaptag(QR code) from their username.

Is this possible?
Thanks in advance

[2015-05-03 02:17] marklyons commented on #99
I am also having this problem.

[2015-05-03 07:49] mgp25 commented on #99
@marklyons use this API https://github.com/mgp25/Snap-API

Its up to date

Regards

[2015-05-19 18:33] #21 closed

[2015-05-21 18:19] cuonic commented on #100
Not possible, the "Snapcode" URL is an md5 of a unique value, maybe a combination of the username and a secret key. To find out how it's done you'll need to get the server side code...

[2015-05-27 00:27] jjmpsp commented on #100
You can however download your own SnapCode. I wrote a blog post on this yesterday:
http://joel-murphy.com/snapchat-qr-codes-snapcodes-is-there-an-api/

[2015-06-17 18:52] cecevibez opened #103 "Snapchat older version?"
I don't have "special text" & when I log into something else it says I'm using an older version but I just downloaded it and it's up to date.

[2015-07-22 05:59] niober commented on #89
Okey I think you will be really interested in what I have to say here. I have ALMOST solved the whole snapchat downgrade problem. I can tell you all about how but first in need someone's help here. Now I have successfully installed snapchat 6.1.1 on my jailbroken iPhone 4 ios 7.1.2. When I open snapchat 6.1.1 there is no crash and I can successfully watch my friends story's and also load story's.

[2015-07-22 06:00] niober opened #104 "Downgrading snapchat"
Okey I think you will be really interested in what I have to say here. I have ALMOST solved the whole snapchat downgrade problem. I can tell you all about how but first in need someone's help here. Now I have successfully installed snapchat 6.1.1 on my jailbroken iPhone 4 ios 7.1.2. When I open snapchat 6.1.1 there is no crash and I can successfully watch my friends story's and also load story's.

[2015-07-22 07:36] mgp25 commented on #104
https://github.com/mgp25/SC-API

[2015-07-22 07:51] niober commented on #104
What do you mean with that link?

[2015-07-22 07:52] mgp25 commented on #104
@niober updated SnapChat API, working on latest version with almost all features, there is no need to downgrade API version

Regards

[2015-07-22 07:52] hako commented on #104
@niober Its where all the development of the new PHP Snapchat API is. Not here, php-snapchat is too old.

[2015-07-22 07:54] mgp25 commented on #104
@hako good to see you here, if you have android device, could you sniff the request? i think it has changed at least some params

[2015-07-22 07:55] niober commented on #104
I don't use that API I just thought that you maybe could help me with my problem that I told you above. Do you now how to fix it cause my goal is to successfully downgrade snapchat to under version 9. In case you don't understand read what I wrote first

[2015-07-22 07:57] niober commented on #104
Just help me to fix the problem that I can see stories but I can't upload stories or send snaps in the old version of snapchat.

[2015-07-22 08:00] mgp25 commented on #104
@niober what's the point of  installing / having a downgraded version? And by the way, this is an 3rd party API not Snapchat app support, better send them an email and explain them your problem.

https://www.snapchat.com/

Regards

[2015-07-22 08:01] hako commented on #104
@mgp25 Which endpoints in particular?

[2015-07-22 08:09] niober commented on #104
Many, MANY people want to downgrade snapchat cause of bad updates.... And I can't contact anapchat support cause it is not okey to downgrade snapchat. I just thought you guys could help me with this snapchat server problem.

[2015-07-22 08:14] mgp25 commented on #104
@hako `/loq/register` i think, with the actual version it gives me issues while trying to register and that's why people is getting an empty zip package for the captcha

[2015-07-22 08:15] niober commented on #104
Please help me

[2015-07-22 08:16] mgp25 commented on #104
@niober instead of downgrading, you can always disable the updates you don't like with simple tweaks, you have a jailbroken device.

Note that maybe some features won't work anymore in previous Snapchat versions

[2015-07-22 08:20] niober commented on #104
Yeah but It must go to fix it cause previous version of snapchat has worked once so it must go to fix it again

[2015-07-22 12:54] KiranPanesar commented on #89
@niober This is using the Android API?

[2015-08-24 10:18] robertbodley commented on #100
Thank you.

[2015-09-01 08:06] vivijimmy commented on #89
@cuonic Hey, in your code 'Authorization: AidLogin 3976909495270287464:285036945524349568', I know the 3976909495270287464 should be the Android_id, but what is that 285036945524349568? Thanks!

[2015-09-01 08:23] cuonic commented on #89
I obtained it by sniffing the GCM registration request, but according to [this document](https://www.cs.indiana.edu/~zhou/files/mobile_cloud.pdf) (Page 4) the format is `android-id:device-token`.

[2015-09-01 08:35] vivijimmy commented on #89
@cuonic Hmm, I used uploadDeviceConfig and got the device token something like 1440513696098*blahblah, which seems not the number after the android_id. I read the same document too and I knew it said that number was device token. Were you using uploadDeviceConfig? Or "checkin" API?

[2015-09-01 08:37] cuonic commented on #89
That's more a timestamp than a device token. I didn't use either of them endpoints, where is uploadDeviceConfig from ?

[2015-09-01 08:47] vivijimmy commented on #89
@cuonic I tried to sniff all the data out and in for Google Play application and I found it could only send this Authorization: AidLogin android_id:unknown_number. In all the data comes back from Google Play I can not find out the same number as the unknown_number after android_id here. I think it should be something Google Play application generated but really curious about what that is... Tried

[2015-09-01 10:17] cuonic commented on #89
I'm looking into it now, the second item is actually called `CheckinTask_securityToken`

[2015-09-01 10:34] vivijimmy commented on #89
@cuonic Great! Many thanks bro! Wow. This CheckinTask_securityToken seems to be written into the CheckinService.xml by Google Play Service. I will find out which writes this and keep you updated.

[2015-09-01 18:54] cuonic commented on #89
the `android_id` and `security_token` are provided to the device on their first `checkin` request (`https://android.clients.google.com/checkin`). Here is an example of what is sent to the endpoint: https://github.com/nviennot/android-checkin. I'm creating a tool that performs all the required requests in Python at the moment, but this is unrelated to Snapchat so contact me via email.

[2015-09-21 15:07] devhex commented on #89
Has anyone figured out how the iOS authentication works yet or is it being discussed anywhere?

[2015-09-21 15:09] mgp25 commented on #89
@devhex use this: https://github.com/mgp25/SC-API

Wiki available with all documentation

Regards

[2015-09-21 16:10] devhex commented on #89
Yeah I've seen it and it's great, but I want to find out how the X-Snapchat-Client-Auth-Token is generated on iOS without the need of a Google account.

[2015-09-21 16:11] mgp25 commented on #89
@devhex you will need to reverse iOS app, use IDA or hopper

[2015-10-15 12:44] pank123 commented on #29
when i use with var_dump its still give me same error

Notice: Undefined property: Snapchat::$cache in D:\Xampp\htdocs\phpsnapchat\src\snapchat.php on line 317

Fatal error: Call to a member function get() on a non-object in D:\Xampp\htdocs\phpsnapchat\src\snapchat.php on line 317

[2015-10-15 13:21] mgp25 commented on #29
@pank123 this code is outdated. Use this one instead: https://github.com/mgp25/SC-API

[2015-10-15 19:03] pank123 commented on #29
Hello thanks for give me this url
I have integrate it and first time it was work for me but now its give me
Error: UNAUTHORIZED
Notice: Trying to get property of non-object in D:\Xampp\htdocs\snapchtapi\src\snapchat.php on line 3079

[2015-10-15 19:11] mgp25 commented on #29
@pank123 you have to create a casper account, please read the wiki here: https://github.com/mgp25/SC-API

[2015-10-15 19:13] pank123 commented on #29
I have create the caster account and set the api key and secret key but still its give me unauthorised error it work for me 2 times but now suddently its stop and give me this error.

[2015-10-15 19:15] #29 closed

[2015-10-15 19:20] pank123 commented on #29
I have create the caster account and set the api key and secret key but still its give me unauthorised error it work for me 2 times but now suddently its stop and give me this error.

[2015-10-15 19:23] mgp25 commented on #29
@pank123 create an issue there:  https://github.com/mgp25/SC-API

Not here, and post there the debug log

[2015-10-22 10:26] pank123 opened #105 "Video not upload via api"
Hello
I am trying to upload mp4 video size is around 2 mb but somehow its not upload in user story.
Images is working fine.
is there any way to know media is upload or not on api like any status from api .?
Please let me know if you need any

Thanks

[2015-10-22 10:29] mgp25 commented on #105
@pank123 this API is outdated, use: https://github.com/mgp25/SC-API instead

[2015-10-22 10:32] pank123 commented on #105
https://github.com/mgp25/SC-API

I am working on this api which you suggest me and that issue occured in this api for video.
https://github.com/mgp25/SC-API api

[2015-10-22 10:33] mgp25 commented on #105
@pank123 and why are you opening an issue in this repo instead of the new one?

[2015-10-22 10:35] pank123 commented on #105
I have also posted on new thread on that given api link

[2015-11-12 20:44] joaovarelas opened #106 "Error while calling the getSnaps();"
Hello,

I've just cloned your repo and trying to run it but without success...

Notice: Undefined property: Snapchat::$cache in C:\xampp\htdocs\src\snapchat.php on line 234  Fatal error: Call to a member function get() on null in C:\xampp\htdocs\src\snapchat.php on line 234

Thanks

[2015-11-12 22:25] mgp25 commented on #106
@joaovarelas use https://github.com/mgp25/SC-API

this repo is outdated

[2015-11-17 06:14] phplab83 opened #107 "snapchat object blank"
Snapchat Object
(
    [auth_token] =>
    [username] =>
)

why its given me blank ?

[2015-11-17 08:04] mgp25 commented on #107
This repo is outdated, use this one instead: https://github.com/mgp25/SC-API

[2015-12-17 08:57] nguyenngoccuong commented on #89
Is there any solution to generate X-Snapchat-Client-Auth-Token and X-Snapchat-Client-Token, please help me, thanks, my skype: siverrally

[2016-01-04 18:28] #86 closed

[2016-01-13 22:12] filfat commented on #89
Bump the above comment

[2016-01-25 11:42] rupsk1607 opened #108 "can i add in snapchat from 3rdparty app?"
can i add current user contact in snapchat from 3rdparty app?

[2016-01-25 11:43] rupsk1607 opened #109 "can i add in snapchat from 3rdparty app?"
can i add contact in snapchat from 3rdparty app?

[2016-04-25 12:59] 17cleo opened #110 "Can't even login?"
Not sure if this even works anymore, but I've been trying to find a free one and this one doesn't even let me login. Any help?

http://stackoverflow.com/questions/36817902/php-snapchat-api

[2016-04-27 20:26] ePirat commented on #110
I'm having the same problem, getting a 401, looks like snapchat changed something in their API or I am doing something wrong…
(The credentials I am using work fine with the official App)

[2016-05-08 18:54] rooz121359 commented on #110
same issue here.... i don't think this library works anymore...

[2016-05-08 19:11] ePirat commented on #110
Snapchat changed it's API endpoint for iPhone, now uses a new signature header, therefore this library doesn't work anymore.

[2016-05-10 12:22] RekkyRek opened #111 "Call to undefined function curl_init()"
My index.php:
`<?php
ini_set('display_errors', 1);
ini_set('display_startup_errors', 1);
error_reporting(E_ALL);
require_once('snapchat.php');

	$snapchat = new Snapchat('dacexi', '0hg0d1l0v3m3m3s');
    $snaps = $snapchat->getSnaps();
?>`

And the errors i am getting:
`
Notice: Use of undefined constant CURLOPT_CONNECTTIMEOUT - assumed 'CURLOPT_CONNECTTIMEOUT' in /var/www/html/unencrypted/snap/in

[2016-06-03 00:52] mzaboss commented on #19
Full Snapchat API using a new and complex tweak.

You can use it to:

Create snapchat bots.

* Features:

# Send a media to a story
# Send a snap
# Add a friend
# Delete a friend
# Mark a snap video as viewed

Create a third app on the App Store or Play Store.

more dev informations will be sent in PDF.

Monthly subscription: $450! only. Unlimited requests to snapchat.

FREE 24h trial!

Skype: mza

[2016-06-03 00:53] mzaboss commented on #89
Full Snapchat API using a new and complex tweak.

You can use it to:

Create snapchat bots.

* Features:

# Send a media to a story
# Send a snap
# Add a friend
# Delete a friend
# Mark a snap video as viewed

Create a third app on the App Store or Play Store.

more dev informations will be sent in PDF.

Monthly subscription: $450! only. Unlimited requests to snapchat.

FREE 24h trial!

Skype: mza

[2016-07-27 14:32] mzaboss opened #112 "Snapchat API"
[redacted]

[2016-07-27 14:42] #112 closed

[2016-09-05 04:17] mzaboss opened #113 "Looking for someone to change my params."
Hello,

I just hooked an jailbroken device, and I extracted the Tokens.

However, I managed to use addfriend endpoint. and works perfectly.

But I tried to send a snap with failed attempt. sounds my image doesn't upload to snapchat servers for some reasons.

I need somebody to fix the params. Its a NodeJS script.

code: https://gist.github.com/mzaboss/9d4be77151eb7f366d6d69f0aacbb479

If you can h

[2016-09-16 12:10] Snapguru opened #114 "Snapchat bot."
Hi, im idiot :)

[2016-09-16 17:54] #114 closed

[2016-09-17 07:47] ketavc commented on #110
Getting error :
Notice: Undefined property: Snapchat::$cache in /var/www/html/snapchat_api/src/snapchat.php on line 233

Fatal error: Call to a member function get() on a non-object in /var/www/html/snapchat_api/src/snapchat.php on line 233

[2016-10-25 23:29] sifex commented on #113
This is a PHP Library. Please remove your issue.

[2016-11-09 00:00] ShaunR commented on #111
Your php installation is missing curl support.

[2016-11-18 13:17] barns opened #115 "req_token for 9.40.6.0"
It seems as though Snapchat have added some complexity to the way that the req_token is generated. Has anyone worked out how to generate the additional parts of the token?

The first part is still a hash of the auth token along with the same secret, merged with a hash of the secret and the timestamp, as seen in this repo eg:

`8dbba1d6f9c85089ae8720cab808f9d440a3fd744e80b9af31c3b4e2b6a8f5f0`

Then

[2016-12-02 16:40] GHXST01 commented on #115
There's actually some difference between request as far as the second part of this hash goes.

[code]

Sadly I do not have more info at this point. I'll decompile the APK and take a look later today.

[2020-01-26 18:01] sandor111 commented on #115
Hi did you find the solution for this?

[2020-01-26 18:06] sandor111 commented on #90
Did any one figure this out? Please add me on discord:
Sandor#4559

[2020-01-26 18:10] Snowlav commented on #90
Almost nothing in this repo is relevant anymore.

On Sun, Jan 26, 2020, 7:06 PM sandor111 <notifications@github.com> wrote:

[2020-01-26 18:24] sandor111 commented on #90
Do you still work with the "snapchat api"?

[2020-01-26 18:28] Snowlav commented on #90
Yes but nothing is shared publicly. Unless you are competent yourself or
have a lot of $ it's probably better to find another project.

On Sun, Jan 26, 2020, 7:24 PM sandor111 <notifications@github.com> wrote:

[2020-01-27 16:41] sandor111 commented on #90
I would like to talk to you privately if possible, can you add me on discord:
Sandor#4559
Or is there another platform you use?

[2020-08-31 16:57] MathiAs2Pique opened #118 "Error cache"
Notice: Undefined property: Snapchat::$cache in [div]/php-snapchat-master/src/snapchat.php on line 234

[2020-09-02 16:25] #30 closed

[2021-01-01 16:47] #106 closed

[2021-02-09 18:40] Quessts commented on #118
Same here

[2021-11-12 21:08] fahadfa opened #119 "l3454"

[2021-11-12 21:08] #119 closed, assigned to nobody